@font-face
    font-family: 'Proxima Nova Regular'
    src: url('../fonts/proximanova-reg.woff2') format('woff2'), url('../fonts/proximanova-reg.woff') format('woff')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Proxima Nova Regular'
    src: url('../fonts/proximanova-bold.woff2') format('woff2'), url('../fonts/proximanova-bold.woff') format('woff'), url('../fonts/proximanova-bold.ttf') format('ttf')
    font-weight: bold
    font-style: normal

@font-face
    font-family: 'Proxima Nova Regular'
    src: url('../fonts/proximanova-light.woff2') format('woff2'), url('../fonts/proximanova-light.woff') format('woff')
    font-weight: 300
    font-style: normal

body
	font-size: 15px
	font-family: 'Proxima Nova Regular'
	letter-spacing: 0.6px
	+r(1199)
		font-size: 13px

$redLight: #ff2143
$red: #c22c3d
$redDark: #8b162c
$brown: #8b572a

svg
	height: 1em!important
	width: 1em!important
	font-size: 15px
	vertical-align: middle
	fill: #fff

button
	background-color: transparent
	border: none
	cursor: pointer
	&:active,
	&:hover,
	&:focus
		outline: none

#mapModal
	.modal-dialog
		max-width: 90%
		justify-content: center

	.modal-content
		height: 90vh
		width: 80vw

	#map
		width: 100%
		height: 100%
		margin: 0px
		padding: 0px

