input, button
	&:hover,
	&:focus,
	&:active
		outline: none

.btnOutline
	padding: 7px 24px
	+r(1199)
		padding: 4px 15px
		margin-bottom: 5px
		font-size: 14px

	&_red
		border: 2px solid rgba(255, 33, 67, 0.4)
		&:hover,
		&:active,
		&:focus
			background-color: $redLight
			border-color: $redLight
			color: #fff

	&_white
		border: 2px solid rgba(255, 225, 225, 0.25)
		&:hover,
		&:active,
		&:focus
			background-color: #fff
			border-color: #fff
			color: $redLight

.btn
	&_red
		padding: 10px 23px
		background-color: #c22c3d
		color: #fff
		border-radius: 3px
		display: inline-block
		margin-right: 25px
		white-space: unset
		&:hover,
		&:active,
		&:focus
			background-color: $redLight
			color: #fff
			text-decoration: none

		&_light
			padding: 7px 23px
			background-color: $redLight
			margin-right: 0
			&:hover,
			&:active,
			&:focus
				background-color: $red
			+r(1199)
				padding: 4px 15px
				margin-bottom: 5px
				font-size: 14px

	&_white
		border-radius: 6px
		background-color: #fff
		padding: 12px 23px
		color: #000
		font-weight: bold
		&:hover,
		&:focus,
		&:active
			color: #8b162c

		+r(1199)
			padding: 7px 20px

.bold
	font-weight: bold

.red
	color: $redLight

h1
	font-size: 32px
	letter-spacing: 1.1px
	font-weight: bold
	margin-bottom: 2rem
	+r(1199)
		font-size: 28px
	+r(575)
		font-size: 26px

h2
	font-size: 36px
	font-weight: normal
	letter-spacing: 1.3px
	+r(1199)
		font-size: 30px
	+r(575)
		font-size: 26px

h3
	font-size: 24px
	letter-spacing: 0.9px
	font-weight: bold
	margin-bottom: 1.25rem
	+r(1199)
		font-size: 20px

.blockTitle
	font-weight: normal
	text-align: center
	margin-bottom: 2rem
	+r(767)
		width: 100%
		margin-bottom: 1rem

.blackLink
	color: #000
	text-decoration: underline
	&:hover,
	&:focus,
	&:active
		color: $redLight

	&_center
		text-align: center
		display: block

.text
	&_13
		font-size: 13px

	&_16
		font-size: 16px

	&_18
		font-size: 18px

	&_21
		font-size: 21px

.flexWrap
	display: flex

	&_center
		align-items: center

	&_between
		justify-content: space-between

	+r(991)
		flex-direction: column

.flexCol
	&_50
		width: 50%
		+r(991)
			width: 100%
			margin-bottom: 20px

	&_40
		width: 40%
		+r(991)
			width: 100%
			margin-bottom: 20px

	&_60
		width: 60%
		+r(991)
			width: 100%
			margin-bottom: 20px

	&__title
		font-size: 18px
		font-weight: bold
		color: #c22c3d
		margin-bottom: .25rem

.cols
	&_2
		column-count: 2
		margin-bottom: 15px
	&_3
		column-count: 3
		margin-bottom: 15px
		+r(767)
			column-count: 2

.disclaimer
	opacity: 0.5
	a
		color: #000
		text-decoration: underline
		&:hover,
		&:focus,
		&:active
			color: $redLight
			opacity: 1

.news
	margin-bottom: 30px
	&__header
		display: flex
		justify-content: space-between
		align-items: flex-start

	&__wrap
		display: flex
		flex-wrap: wrap
		margin-top: 20px
		+r(767)
			justify-content: center

	&__item
		width: 25%
		padding-right: 15px
		margin-bottom: 30px
		+r(767)
			width: 50%
			min-width: 250px

		+r(565)
			width: 100%
			padding: 0

		p, a
			margin-bottom: .25rem

	&__date
		opacity: 0.5
		letter-spacing: 0.5px

	&__title
		font-size: 17px
		font-weight: bold
		color: #000
		display: block
		&:hover,
		&:focus,
		&:active
			color: $redLight

	&__text
		line-height: 22px

	&__img
		float: left
		margin: 0 30px 30px 0
		+r(450)
			float: none

	&__itemTitle
		margin-bottom: .25rem

	&__share
		display: flex
		align-items: center
		margin-top: 20px
		p
			margin-bottom: 0
			margin-right: 15px

.defaultTag
	padding: 5px 12px
	color: #fff
	background-color: #c22c3d
	border-radius: 3px
	display: inline-block
	&:hover,
	&:focus,
	&:active
		text-decoration: none
		color: #fff
		background-color: $redLight

.defaultHr
	width: 100%
	background-color: #d8d8d8
	margin: 30px 0

.hr50
	margin: 50px 0
	width: 100%
	background-color: #d8d8d8

.office
	&__item
		margin-bottom: 20px

		p
			margin-bottom: .25rem

		a
			color: #000
			&:hover,
			&:focus,
			&:active
				color: $redLight

	&__desc
		display: flex

	&__main
		width: 40%

	&__contacts
		width: 20%

	&__title
		font-weight: bold
		font-size: 18px

	&__phone
		font-weight: bold
		text-decoration: none
		font-size: 18px

	&__team, &__map
		text-decoration: underline

.mainPrTypes
	padding: 55px 0

	&__wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		padding: 60px 0 0

	&__item
		width: calc(50% - 15px)
		margin-bottom: 69px
		position: relative
		&:hover,
			.mainPrTypes__btn
				opacity: 1
				visibility: visible
				transition: visibility 0.2s, opacity 0.2s linear

				&:hover
					background-color: darken(#ff2143, 15%)

	&__itemWrap
		height: 0
		padding-bottom: 60%
		background-size: cover
		position: relative
		overflow: hidden

	&__header
		border-radius: 0 0 6px 6px
		background-color: #e9e7e4
		box-shadow: 0 12px 18px 0 rgba(0, 0, 0, 0.25)
		width: 46%
		margin-left: 27%
		text-align: center
		padding: 15px 0
		+r(1199)
			padding: 8px 0

	&__title
		font-size: 21px
		font-weight: bold
		letter-spacing: 0.8px
		margin-bottom: 0
		line-height: 1
		min-height: 24px
		margin-bottom: 5px
		+r(1199)
			font-size: 18px
			min-height: 21px

	&__subtitle
		font-size: 17px
		line-height: 1
		margin-bottom: 0
		+r(1199)
			font-size: 15px

	&__badge
		height: 120px
		width: 120px
		background-color: #8b162c
		border-radius: 50%
		padding: 25px 10px 25px 20px
		color: #fff
		margin-left: -10px
		margin-bottom: -40px
		position: absolute
		bottom: 0

	&__num
		font-size: 21px
		font-weight: bold
		margin: 0
		line-height: 1

	&__buttons
		margin-top: 15px
		text-align: center

	&__btn
		// position: absolute
		// top: calc(100% - 28px)
		background-color: #ff2143
		box-shadow: 0 6px 12px 0 rgba(0,0,0,.35)
		// left: calc(50% - 113px)
		padding: 0.4rem 2rem
		border-radius: 6px
		font-size: 18px
		opacity: 0
		visibility: hidden
		color: #fff
		transition: visibility 0.1s, opacity 0.1s linear
		margin: 0 5px

		+r(1199)
			font-size: 16px
			// padding: .5rem 1.5rem
			// left: calc(50% - 83px)
			// bottom: -23px

	&__banner
		width: 100%
		height: 180px
		background-size: cover
		display: flex
		justify-content: center
		align-items: center

	&__bannerText
		font-size: 24px
		letter-spacing: 0.9px
		color: #ffffff

.centers
	padding: 20px 0 40px

	+r(767)
		padding: 20px 0 0

	.btn
		padding: 5px 15px

.specialty
	padding: 50px 0 75px

	+r(767)
		padding: 20px 0

	&__wrap
		display: flex
		justify-content: space-between
		padding: 0 0 20px
		+r(767)
			flex-wrap: wrap
			justify-content: center

	&__item
		width: 16.6%
		border-radius: 6px
		display: flex
		flex-direction: column
		align-items: center
		padding: 15px
		align-items: center
		padding: 25px 8px
		transition: .2s all linear
		&:hover,
		&:active,
		&:focus
			background-color: #ff2143
			color: #fff
			transition: .2s all linear

			.icon
				fill: #fff
				transition: .2s all linear

		.icon
			fill: #ff2143
			font-size: 100px
			margin-bottom: 15px
			transition: .2s all linear

		+r(1199)
			padding: 18px 8px
			.icon
				font-size: 60px
		+r(767)
			width: 140px
			.icon
				font-size: 40px

	&__type
		font-size: 18px
		line-height: 1
		margin-bottom: 0
		text-align: center
		+r(767)
			font-size: 14px

	&__btns
		text-align: center
		+r(767)
			display: flex
			flex-direction: column

	&__btn
		margin: 0 5px
		+r(767)
			margin: 0 0 10px

.greyBlock
	background-color: #f4f4f4
	padding: 65px 0 10px
	margin-bottom: 50px

	+r(767)
		padding: 25px 0 10px

		&_noMgSm
			margin-bottom: 0



.aboutText
	padding-bottom: 30px
	ul
		padding: 0

	li
		list-style-type: none
		margin-bottom: .5rem

	&__cols
		display: flex
		margin-top: 40px
		justify-content: space-between
		+r(767)
			flex-direction: column

	&__col
		width: 49%
		+r(767)
			width: 100%

	&__title
		font-size: 17px
		font-weight: bold

	p
		line-height: 1.7

.breadcrumbs
	padding: 20px 0
	display: flex
	margin-bottom: 0
	margin-top: 20px
	flex-wrap: wrap

	&__item
		list-style-type: none
		margin-right: 8px
		&:after
			content: '—'

		&:last-child
			&:after
				display: none

	&__link
		color: #000

		&:hover,
		&:focus,
		&:active
			color: $redLight
			text-decoration: none

.swiftSearch
	padding: 40px 0

.propRight
	width: 270px

.propCard
	width: calc(100% - 300px)
	+r(991)
		width: 100%

.propNav
	.nav-link.active, .show > .nav-link
		background-color: $redLight
		border: 1px solid #fff
	.nav-link
		border-radius: 0
		background-color: #e9e7e4
		border: 1px solid #fff
		color: #000

.similarProps
	padding: 50px 0

	&__header
		margin-bottom: 30px

.agent
	&__header
		display: flex
		+r(991)
			flex-direction: column

	&__card
		width: 40%
		padding: 50px
		background-color: #f4f4f4
		+r(991)
			width: 100%
			padding: 30px

		.expert__wrap
			width: 100%
			margin-bottom: 0

	&__callback
		width: 60%
		background-color: #8b162c
		padding: 40px 25px
		text-align: center
		color: #fff
		+r(991)
			width: 100%

.redTitle
	font-size: 18px
	color: #c22c3d
	font-weight: bold
	margin-bottom: .25rem

.agent
	&__info
		display: flex
		padding: 50px 0
		p
			margin-bottom: .75rem
		+r(991)
			flex-direction: column

	&__bio
		width: 50%
		+r(991)
			width: 100%

	&__about
		width: 50%
		+r(991)
			width: 100%

.jobs
	&__city
		padding: 20px 0

	&__position
		padding: 20px 0

		ul
			padding: 0

		li
			list-style-type: none

		p
			margin-bottom: .25rem
	&__btns
		+r(565)
			.btn_red
				width: 100%
				margin: 0


.whyUs
	+r(991)
		flex-direction: row
		flex-wrap: wrap
		justify-content: center
	&__item
		width: 25%
		padding: 20px 10px
		+r(991)
			width: 50%
			min-width: 270px

	&__title
		font-weight: bold
		font-size: 18px
		margin-top: 20px

	.icon
		font-size: 64px

.workForYou
	padding-bottom: 40px


.white-placeholder
	&::-webkit-input-placeholder
		color: #fff
		opacity: 0.5

	&::-moz-placeholder
		color: #fff
		opacity: 0.5

	&:-ms-input-placeholder
		color: #fff
		opacity: 0.5

	&:-moz-placeholder
		color: #fff
		opacity: 0.5
