---
title: Страница консультанта
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
  {% include "partials/_header.html" %}

  <div class="container">
    <div class="agent__header">
      <div class="agent__card">
        <div class="expert__wrap">
          <div class="expert__img">
            <img src="img/staff.png" alt="">
          </div>
          <div class="expert__desc">
            <p class="expert__name">Юрий Весельев</p>
            <p class="expert__position">Генеральный директор</p>
            <p class="expert__phone">+7 (963) 333-04-04</p>
          </div>
        </div>
      </div>
      <div class="agent__callback">
        <p class="text_21"><span class="bold">Ocтaвьтe Baш нoмep</span>, и я пepeзвoню в тeчeниe 5 минyт</p>
        <form action="#" class="redBlock__formCenter">
          <div class="input-group redBlock__inputGroup">
            <div class="form-group form-group-row">
              <label class="form-control-label" for="tel">Телефон:</label>
              <input class="form-control-plaintext" id="tel test" name="tel" required type="text">
            </div>
            <button type="submit" class="btn btn_red">Жду звонка</button>

          </div>
          <p class="callback__disclaimer">Отправляя заявку вы соглашаетесь на обработку <a href="#" class="callback__link">персональных данных</a></p>
        </form>
      </div>
    </div>
    <div class="agent__info">
      <div class="agent__bio">
        <p class="redTitle">Образование</p>
        <p>2003 - 2008 г., - НовГу - Страноведение и международный туризм</p>
        <p>2009 - 2011 г., - ВШУ - Управление предприятием</p>
        <p class="redTitle">Опыт работы</p>
        <p>2013 - 2015 г., - Генеральный директор АРР - Санкт-Петербург</p>
        <p>2015 - нв. - Генеральный директор АРР - Франчайзинг</p>
        <p class="redTitle">Специализации: </p>
        <p>коммерческая недвижимость, помещения под рестораны</p>
      </div>
      <div class="agent__about">
        <p class="redTitle">Обо мне</p>
        <p>Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Задача организации, в особенности же реализация намеченных плановых заданий требуют определения и уточнения модели развития. Значимость этих проблем настолько очевидна, что рамки и место обучения кадров способствует подготовки и реализации соответствующий условий активизации.</p>
      </div>
    </div>
    <form action="#">
      <div class="form-row align-items-center">
        <select class="custom-select" id="dealType">
          <option value="1" selected>Купить</option>
          <option value="2">Арендовать</option>
        </select>
        <select class="custom-select" id="propertyType">
          <option value="1" selected>Свободного назначения</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <div class="input-group" id="priceGroup">
          <input type="text" class="form-control" id="priceFrom" placeholder="от">
          <input type="text" class="form-control" id="priceTo" placeholder="до">
        </div>
        <div class="input-group" id="sizeGroup">
          <input type="text" class="form-control" id="sizeFrom" placeholder="от">
          <input type="text" class="form-control" id="sizeTo" placeholder="до">
        </div>
        <div class="form-group" id="addressGroup">
          <label for="address">Район, метро, улица</label>
          <input type="text" class="form-control" id="address" placeholder="м. Проспект просвещения">
        </div>
      </div>
    </form>
    <div class="catalog__header">
      <div class="catalog__filter">
        <div class="form-row align-items-center">
          <select class="custom-select filter_left">
            <option value="1" selected>По умолчанию</option>
            <option value="2">По-умолчанию</option>
          </select>
          <select class="custom-select filter_right">
            <option value="1" selected>За все время</option>
            <option value="2">За все время</option>
          </select>
        </div>
      </div>
      <div class="catalog__checkbox">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Есть скидка</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck2">
          <label class="form-check-label" for="exampleCheck2">Обмен</label>
        </div>
      </div>
      <div class="catalog__controls">
        <div class="catalog__pagination slider__pagination">
          <button class="catalog__prev slider__btn disabled">
            {{mixins.icon('arrow_prev')}}
          </button>
          <div class="catalog__paging" id="catalog_pag1">1/84</div>
          <button class="catalog__next slider__btn">
            {{mixins.icon('arrow_next')}}
          </button>
        </div>
        <div class="catalog__view">
          <button id="groupView" class="catalog__viewType">
            {{mixins.icon('main')}}
          </button>
          <button id="listView" class="catalog__viewType active">
            {{mixins.icon('list')}}
          </button>
          <button id="locationView" class="catalog__viewType">
            {{mixins.icon('location_solid')}}
          </button>
        </div>
      </div>
    </div>
    <div class="catalog__body">
      <div class="catalogSlider">
        {% include "partials/_properties.html" %}
      </div>
      <div class="catalogSlider__pagWrap">
        <div class="catalog__pagination slider__pagination">
          <button class="catalog__prev slider__btn disabled">
            {{mixins.icon('arrow_prev')}}
          </button>
          <div class="catalog__paging" id="catalog_paging2">1/84</div>
          <button class="catalog__next slider__btn">
            {{mixins.icon('arrow_next')}}
          </button>
        </div>
      </div>
    </div>
    <div class="certificate">
      <h2 class="blockTitle">Дипломы, сертификаты и рекомендации</h2>
      <div class="certificate__wrap">
        <div id="certificateSlider">
          <div class="certificate__item">
            <img src="img/certificate.jpg" alt="">
          </div>
          <div class="certificate__item">
            <img src="img/certificate2.jpg" alt="">
          </div>
          <div class="certificate__item">
            <img src="img/certificate.jpg" alt="">
          </div>
          <div class="certificate__item">
            <img src="img/certificate2.jpg" alt="">
          </div>
          <div class="certificate__item">
            <img src="img/certificate.jpg" alt="">
          </div>
          <div class="certificate__item">
            <img src="img/certificate2.jpg" alt="">
          </div>
        </div>
        <div class="certificate__pagination">
          <div class="certificate__prev">
            {{mixins.icon('prev_bold')}}
          </div>
          <div class="certificate__page"></div>
          <div class="certificate__next">
            {{mixins.icon('next_bold')}}
          </div>
        </div>
      </div>
    </div>

  </div>

  {% include "partials/_footer.html" %}


{% endblock %}
