---
title: Каталог
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
	{% include "partials/_header.html" %}

  <div class="container">

    {% include "partials/_filterIncome.html" %}

  </div>
  <div class="redBlock">
    <div class="container">
      <div class="redBlock__center">
        <p class="redBlock__title">
          Полное юридическое сопровождение
        </p>
        <p class="redBlock__subtitle">от момента заявки и после совершения сделки - бесплатно!</p>

        <form action="#" class="redBlock__formCenter">
          <div class="input-group redBlock__inputGroup">
            <div class="form-group form-group-row">
              <label class="form-control-label" for="tel">Телефон:</label>
              <input class="form-control-plaintext" id="tel" name="tel" required type="text">
            </div>
            <button type="submit" class="btn btn_red">Получить юридическое сопровождение</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Каталог</a>
      </li>
    </ul>
    <div class="catalog">
      <div class="catalog__header">
        <div class="catalog__filter">
          <div class="form-row align-items-center">
            <div class="btn-group">
              <button class="dropdown-toggle form-control filter_left" data-toggle="dropdown">По умолчанию<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">По умолчанию</a></li>
                <li><a href="#">По умолчанию</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button class="dropdown-toggle form-control filter_right" data-toggle="dropdown">За все время<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">За все время</a></li>
                <li><a href="#">Последние</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="catalog__controls">
          <div class="catalog__pagination slider__pagination">
            <button class="catalog__prev slider__btn disabled">
              {{mixins.icon('arrow_prev')}}
            </button>
            <div class="catalog__paging" id="catalog_pag1">1/84</div>
            <button class="catalog__next slider__btn">
              {{mixins.icon('arrow_next')}}
            </button>
          </div>
          <div class="catalog__view">
            <button id="groupView" class="catalog__viewType">
              {{mixins.icon('main')}}
            </button>
            <button id="listView" class="catalog__viewType active">
              {{mixins.icon('list')}}
            </button>
            <button id="locationView" class="catalog__viewType">
              {{mixins.icon('location_solid')}}
            </button>
          </div>
        </div>
      </div>
      <div class="catalog__body">
        {% include "partials/_properties.html" %}
        <div class="catalogSlider__pagWrap">
          <div class="catalog__pagination slider__pagination">
            <button class="catalog__prev slider__btn disabled">
              {{mixins.icon('arrow_prev')}}
            </button>
            <div class="catalog__paging" id="catalog_paging2">1/84</div>
            <button class="catalog__next slider__btn">
              {{mixins.icon('arrow_next')}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="swiftSearch">
      <h3 class="filter__epTitle"><span class="bold red">Быcтpый пoиcк</span> кoммepчecкoй нeдвижимocти</h3>
      <div class="flexWrap flexWrap_top">
        <div class="flexCol flexCol_50">
          <p class="flexCol__title">Paйoны</p>
          <div class="cols_2" id="searchDistricts">
              <a href="#" class="filter__epLink">Бepeзнякoвcкий п. (<span>2</span>)</a>
              <a href="#" class="filter__epLink">Tюмeнcкaя cлoбoдa (<span>2</span>)</a>
              <a href="#" class="filter__epLink">3 мкp (<span>2</span>)</a>
              <a href="#" class="filter__epLink">Югpa (<span>2</span>)</a>
              <a href="#" class="filter__epLink">Tюмeнcкий-1 (<span>2</span>)</a>
              <a href="#" class="filter__epLink">Mыc (<span>2</span>)</a>
              <a href="#" class="filter__epLink">Kaзapoвo (<span>2</span>)</a>
              <a href="#" class="filter__epLink">Цeнтp: KПД (<span>2</span>)</a>
              <a href="#" class="filter__epLink">Toбoльcкий тpaкт (<span>2</span>)</a>
              <a href="#" class="filter__epLink">Яp (<span>2</span>)</a>
          </div>
          <button class="btn btnOutline btnOutline_red">Ocтaльныe paйoны</button>
        </div>
        <div class="flexCol flexCol_50">
          <p class="flexCol__title">Улицы</p>
          <div class="cols_2" id="searchStreets">
            <a href="#" class="filter__epLink">Бepeзнякoвcкий п. (<span>2</span>)</a>
            <a href="#" class="filter__epLink">Tюмeнcкaя cлoбoдa (<span>2</span>)</a>
            <a href="#" class="filter__epLink">3 мкp (<span>2</span>)</a>
            <a href="#" class="filter__epLink">Югpa (<span>2</span>)</a>
            <a href="#" class="filter__epLink">Tюмeнcкий-1 (<span>2</span>)</a>
            <a href="#" class="filter__epLink">Mыc (<span>2</span>)</a>
            <a href="#" class="filter__epLink">Kaзapoвo (<span>2</span>)</a>
            <a href="#" class="filter__epLink">Цeнтp: KПД (<span>2</span>)</a>
            <a href="#" class="filter__epLink">Toбoльcкий тpaкт (<span>2</span>)</a>
            <a href="#" class="filter__epLink">Яp (<span>2</span>)</a>
          </div>
          <button class="btn btnOutline btnOutline_red">Ocтaльныe улицы</button>
        </div>
      </div>
    </div>
  </div>

  <div class="redBlock redBlock__margin">
    <div class="container">
      <div class="redBlock__center">
        <p class="redBlock__title">
          Полное юридическое сопровождение
        </p>
        <p class="redBlock__subtitle">от момента заявки и после совершения сделки - бесплатно!</p>

        <form action="#" class="redBlock__formCenter">
          <div class="input-group redBlock__inputGroup">
            <div class="form-group form-group-row">
              <label class="form-control-label" for="tel">Телефон:</label>
              <input class="form-control-plaintext" id="tel" name="tel" required type="text">
            </div>
            <button type="submit" class="btn btn_red">Получить юридическое сопровождение</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="centers">
      <h2 class="blockTitle">Торговые и бизнес центры</h2>
      <div class="flexWrap flexWrap_top">
        <div class="flexCol_40">
          <p class="flexCol__title">Торговые центры</p>
          <div class="cols_2">
            <a href="#" class="filter__epLink">ТЦ Гранд Каньон </a>
            <a href="#" class="filter__epLink">ТЦ Мега Парнас</a>
            <a href="#" class="filter__epLink">ТЦ Норд</a>
            <a href="#" class="filter__epLink">ТЦ Галерея</a>
            <a href="#" class="filter__epLink">ТЦ Гранд Каньон </a>
            <a href="#" class="filter__epLink">ТЦ Мега Парнас</a>
            <a href="#" class="filter__epLink">ТЦ Норд</a>
            <a href="#" class="filter__epLink">ТЦ Галерея</a>
          </div>
          <button class="btn btnOutline btnOutline_red">Показать все</button>
        </div>
        <div class="flexCol_60">
          <p class="flexCol__title">Бизнес центры</p>
          <div class="cols_3">
            <a href="#" class="filter__epLink">БЦ Первая волна </a>
            <a href="#" class="filter__epLink">БЦ Вторая волна</a>
            <a href="#" class="filter__epLink">БЦ Третья волна</a>
            <a href="#" class="filter__epLink">БЦ Четвертая волна</a>
            <a href="#" class="filter__epLink">БЦ Первая волна </a>
            <a href="#" class="filter__epLink">БЦ Вторая волна</a>
            <a href="#" class="filter__epLink">БЦ Третья волна</a>
            <a href="#" class="filter__epLink">БЦ Четвертая волна</a>
            <a href="#" class="filter__epLink">БЦ Первая волна </a>
            <a href="#" class="filter__epLink">БЦ Вторая волна</a>
            <a href="#" class="filter__epLink">БЦ Третья волна</a>
            <a href="#" class="filter__epLink">БЦ Четвертая волна</a>
          </div>
          <button class="btn btnOutline btnOutline_red">Показать все</button>
        </div>
      </div>
    </div>
    <div class="aboutText">
      <h3>Сеть консультантов по коммерческой недвижимости</h3>
      <p>Вопрос об открытие или развитии бизнеса встает перед любым деловым человеком, заинтересованном в увеличении собственных средств и получении прибыли. Мы предоставляем физическим и юридическим лицам различные услуги брокериджа и управления коммерческой недвижимостью: аренда коммерческой недвижимости, продажа коммерческой недвижимости в Великом Новгороде и Новгородской области, управления активами — что являет собой вариант наиболее выгодного вложения инвестиций.</p>
      <p>Почему именно мы? Вероятно, у вас появился вполне естественный вопрос: какие именно аргументы мы можем привести для того, чтобы вы обратились именно нашу компанию. Итак, нас характеризуют:</p>
      <ul>
        <li>— Специализация на сегменте коммерческая недвижимость, являющейся для нашей компании, как в общем смысле, так и в частном: наши сотрудники непрестанно работают с офисами, торговыми помещениями, складами, производствами и другой коммерческой недвижимостью.</li>
        <li>— Высокий уровень компетенции наших консультантов, которые обладают обширным опытом в своей сфере, в силу чего способны разрешать в ней вопросы любой сложности.</li>
        <li>— Большая база объектов, что значительно расширяет спектр вашего выбора, по которому вы можете также получить консультации компетентных специалистов.</li>
        <li>— Отсутствие комиссии для арендаторов, мы предлагаем объекты собственника</li>
        <li>— Для собственников недвижимости, отсутствие предоплаты, что сводит шанс обмана к минимуму и гарантирует результат: вы платите исключительно за реальные сделки.</li>
        <li>— Сделки мы проводим под ключ. От заключение договора с собственников до подписание договора аренды или купли продажи</li>
      </ul>
      <div class="aboutText__cols">
        <div class="aboutText__col">
          <p class="aboutText__title">Коммерческая недвижимость:</p>
          <ul>
            <li>— покупка и продажа коммерческой недвижимости;</li>
            <li>— покупка объектов и инвестиции в коммерческую недвижимость;</li>
            <li>— поиск арендаторов и покупателей;</li>
            <li> — аренда объектов;</li>
            <li>— консультации в вопросах оформления сделок;</li>
            <li>— управление коммерческой недвижимостью.</li>
          </ul>
        </div>
        <div class="aboutText__col">
          <p class="aboutText__title">Мы работаем со всеми типами коммерческой недвижимости:</p>
          <ul>
            <li>— офисные помещения в целом, а также офисы в бизнес-центрах в частности;</li>
            <li>— торговые помещения;</li>
            <li>— помещения свободного назначения;</li>
            <li>— производственные помещения;</li>
            <li>— склады.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% include "partials/_footer.html" %}


{% endblock %}
