---
title: Страница консультанта
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
  {% include "partials/_header.html" %}
  <div class="container">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Вакансии</a>
      </li>
    </ul>
    <h1>Вакансии в Санкт-Петербурге</h1>
  </div>

  {% include "partials/_teamSlider.html" %}

  <div class="container">
    <div class="jobs">
      <div class="jobs__city">
        <p class="redTitle">Выберите город</p>
        <select class="custom-select">
          <option value="1" selected="">Санкт-Петербург</option>
          <option value="2">Москва</option>
        </select>
      </div>
      <h3>Список вакансий в Санкт-Петербурге:</h3>
      <div class="cols_3">
        <a href="#" class="filter__epLink">Менеджер по персоналу</a>
        <a href="#" class="filter__epLink">Эксперт по недвижимости</a>
        <a href="#" class="filter__epLink">Юрист</a>
        <a href="#" class="filter__epLink">Старший специалист</a>
        <a href="#" class="filter__epLink">Менеджер по развитию подразделения</a>
        <a href="#" class="filter__epLink">Менеджер клиентов</a>
        <a href="#" class="filter__epLink">Маркетолог</a>
        <a href="#" class="filter__epLink">Специалист по социальным сетям</a>
        <a href="#" class="filter__epLink">SEO-оптимизатор</a>
      </div>
      <div class="jobs__position">
        <p class="redTitle">Ваканция «Старший специалист»</p>
        <p class="bold">Обязанности</p>
        <ul>
          <li>—  Организация, координация и контроль работы сотрудников , выполнение планов продаж</li>
          <li>—  Оптимизация бизнес-процессов (автоматизация, маркетинг, процессы)</li>
          <li>—  Управление персоналом (штат более 50 чел), в т.ч. обучение, мотивация, формирование эффективной команды</li>
          <li>—  Реализация маркетинг-стратегии</li>
          <li>—  Ведение переговоров с партнерами, способность строить эффективные отношения с клиентами, обеспечение бесперебойной и качественной работы сотрудников</li>
        </ul>
        <p class="bold">Условия</p>
        <ul>
          <li>—  Выгодные финансовые условия,</li>
          <li>—  Современный офис в центре города,</li>
          <li>—  Уникальная IT-платформа, позволяющая вне офиса работать с базой объектов и клиентов,</li>
          <li>—  Продающий сайт (сайт компании «Этажи» является одним из самых посещаемых среди сайтов недвижимости),</li>
          <li>—  Высокотехнологичная компания с современной корпоративной культурой</li>
          <li>—  Эффективный маркетинг,</li>
          <li>—  Работа в команде, которая является лидером в отрасли, активно развивается и способствует профессиональному росту коллег</li>
        </ul>
        <p class="bold">Требования</p>
        <ul>
          <li>—  Высшее образование (приветствуется хорошие знания в области маркетинга и продаж),</li>
          <li>—  Успешный опыт руководящей работы (желательно в сфере продаж) от 3-х лет,</li>
          <li>—  Опыт совершенствования бизнес-процессов,</li>
          <li>—  Нацеленность на высокие результаты и лидерство,</li>
          <li>—  Инициативность, высокая работоспособность,</li>
          <li>—  Коммуникабельность и харизматичность, опыт ведения переговоров на высоком уровне,</li>
          <li>—  Обучаемость</li>
        </ul>
        <div class="jobs__btns flexWrap flexWrap_center">
          <button class="btn btn_red">Откликнуться на вакансию</button>
          <p class="disclaimer">или <a href="#">заполните анкету</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="redBlock redBlock__center redBlock__light">
    <div class="container">
      <h2>Почему нас выбирают?</h2>
      <div class="whyUs flexWrap">
        <div class="whyUs__item">
          {{mixins.icon('rich')}}
          <p class="whyUs__title">Высокий доход</p>
          <p class="whyUs__info">
              Уровень дохода напрямую зависит от личной мотивации и самоорганизации
          </p>
        </div>
        <div class="whyUs__item">
          {{mixins.icon('career')}}
          <p class="whyUs__title">Профессиональный рост</p>
          <p class="whyUs__info">
              80% топ менеджеров компании начинали работу в компании с обычных позиций, прежде чем стать руководителями
          </p>
        </div>
        <div class="whyUs__item">
          {{mixins.icon('flag')}}
          <p class="whyUs__title">Стабильность</p>
          <p class="whyUs__info">
              Работаем с 2000 года. В 2015 году компания стала лидером по объемам сделок и географии присутствия
          </p>
        </div>
        <div class="whyUs__item">
          {{mixins.icon('mortarboard')}}
          <p class="whyUs__title">Обучение за счет компании</p>
          <p class="whyUs__info">
              Мы создали корпоративный университет, штат внутренних и внешних тренеров, учебный портал, электронную базу знаний
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="blockTitle">Истории успеха</h2>
    {% include "partials/_successSlider.html" %}
    <div class="workForYou">
      <h3>Работа в Тюмени: вакансии для вас</h3>
      <p>
        Интересует престижная работа в в Тюмени? Федеральная риэлторская компания «Этажи» приглашает к сотрудничеству! Мы всегда рады новым сотрудникам, которые придерживаются активной жизненной позиции, развивают в себе профессионализм и ответственность. Хотите начать или продолжить трудовую деятельность в сфере недвижимости в сильной и слаженной команде «Этажей»? Тогда заполните анкету кандидата или отправьте свое резюме через онлайн-форму «Откликнуться на вакансию».
      </p>
      <h4 class="bold text_16">Компания «Этажи» — стабильная и интересная работа в Тюмени</h4>
      <p>
        Предложение ФРК «Этажи» — это интересная и, что не менее важно, стабильная работа в Тюмени: вакансии в различных департаментах компании открывают вам возможность устроиться по специальности, выбрать то направление, в котором вам комфортно трудиться, развиваться и реализовываться. Сразу оговоримся, в отношении дисциплины и трудовой активности мы требовательны и суровы — зато также справедливы в оплате и внимательны к профессиональным достижениям.
      </p>
      <p>
        Работа от прямого работодателя, несомненно, имеет свои плюсы. Для специалиста, работающего в агентстве недвижимости «Этажи», главными преимуществами и мотиваторами являются:
      </p>
      <p>
        Высокий уровень дохода. Если у вас есть личная мотивация и способность к самоорганизации, ваша зарплата вам понравится.
        Стабильность. Свыше 15 лет на рынке недвижимости и лидерство по количеству сделок. Также мы первые в географии присутствия. Это объясняет, почему в «Этажах» практически всегда есть свежие вакансии риэлторов, юристов, специалистов по недвижимости, PR-специалистов, программистов, начальников отделов и территориальных менеджеров.
      </p>
      <p>
        Бесплатное обучение. Те, кто сумел грамотно использовать весь потенциал корпоративного университета, опыт и знания тренеров, электронную базу знаний, а также учебный портал, уже стали топ-менеджерами компании «Этажи» или на полпути к своей цели.
      </p>
      <p>
        Карьерный рост. Удивительно, но факт: 80 % менеджеров высшего звена начинали «рядовыми сотрудниками» и пришли к своей престижной должности благодаря личной целеустремленности и помощи наставников.
      </p>
      <p>
        Информация о вакансиях в Тюмени — условиях работы, должностных обязанностях и исходных требованиях к кандидатам — находится в свободном доступе. Это значит, что все кандидаты на определенную должность поставлены в равные условия и изначально имеют одинаковые шансы на трудоустройство. Ждем вас, чтобы продолжить работу вместе!
      </p>
    </div>
  </div>
  {% include "partials/_footer.html" %}

{% endblock %}
