---
title: Главная
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
	{% include "partials/_header.html" %}

  <div class="container">
      <div class="headerCity headerCity_red d-block d-md-none">
        {{mixins.icon('location_solid')}}
        <button type="button" class="headerCity__dropdownBtn" data-toggle="modal" data-target="#cityModal">
          Санкт-Петербург
        </button>
      </div>

      <div class="mobileCats d-flex d-md-none">
        <a href="#" class="mobileCats__item">
            {{mixins.icon('shop')}}
            <p class="mobileCats__type">Коммерческая недвижимость</p>
        </a>
        <a href="#" class="mobileCats__item">
            {{mixins.icon('briefcase')}}
            <p class="mobileCats__type">Готовый бизнес</p>
        </a>
        <a href="#" class="mobileCats__item">
            {{mixins.icon('house')}}
            <p class="mobileCats__type">Арендный бизнес</p>
        </a>
        <a href="#" class="mobileCats__item">
            {{mixins.icon('growth')}}
            <p class="mobileCats__type">Инвестиционные проекты</p>
        </a>
      </div>

    {% include "partials/_filter.html" %}

  </div>

  <div class="redBlock redBlock__bgConsult redBlock__margin">
    <div class="container">
      <div class="redBlock__wrap redBlock__wrap_out">
        <div class="redBlock__col">
          <p class="redBlock__title">
            Получите консультацию бесплатно
          </p>
          <ul class="redBlock__list">
            <li class="redBlock__li">— Ипотека дешевле, чем в банке</li>
            <li class="redBlock__li">— Новостройки без комиссии</li>
            <li class="redBlock__li">— Уникальные скидки до 600 000 р. от застройщиков</li>
          </ul>
          <a href="tel:+78162909201" class="btn btn_white redBlock__phone">+7 (8162) 90-92-01</a>
          <span class="redBlock__span text_16">—   звоните нам прямо сейчас</span>
        </div>
        <div class="redBlock__col redBlock__out">
          <p class="text_16">или</p>
          <p class="redBlock__outTitle">Оставьте номер телефона</p>
          <p class="text_18">мы вам перезвоним в течении 15 минут</p>
          <form class="redBlock__form" action="#">
            <div class="form-group form-group-row">
              <label class="form-control-label" for="name">Имя:</label>
              <input type="text" class="form-control-plaintext white-placeholder" id="name" name="name" placeholder="Максим" required />
            </div>
            <div class="form-group form-group-row">
              <label class="form-control-label" for="tel">Телефон:</label>
              <input type="text" class="form-control-plaintext" id="tel" name="tel" required />
            </div>
            <button type="submit" class="btn redBlock__btn btnOutline_white">{{mixins.icon('call')}} Заказать звонок</button>
          </form>
          <p class="redBlock__disclaimer text_13">Отправляя заявку вы соглашаетесь на обработку
            <a href="#">персональных данных</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="mainPrTypes d-none d-md-block">
      <h2 class="mainPrTypes__blockTitle blockTitle">Агентство регионального развития <span class="bold red">в Санкт-Петербурге</span></h2>
      <ul class="nav nav-pills customPills" id="pills-tab" role="tablist">
        <li class="nav-item customPills__item">
          <a class="nav-link customPills__link active" id="commercial-tap" data-toggle="pill" href="#pills-commercial" role="tab" aria-controls="pills-commercial" aria-selected="true">Коммерческая недвижимость</a>
        </li>
        <li class="nav-item customPills__item">
          <a class="nav-link customPills__link" id="businessSale-tab" data-toggle="pill" href="#pills-businessSale" role="tab" aria-controls="pills-businessSale" aria-selected="false">Продажа бизнеса</a>
        </li>
        <li class="nav-item customPills__item">
          <a class="nav-link customPills__link" id="franchising-tab" data-toggle="pill" href="#pills-franchising" role="tab" aria-controls="pills-franchising" aria-selected="false">Франшиза</a>
        </li>
        <li class="nav-item customPills__item">
          <a class="nav-link customPills__link" id="investment-tab" data-toggle="pill" href="#pills-investment" role="tab" aria-controls="pills-investment" aria-selected="false">Инвестиции</a>
        </li>
      </ul>
      <div class="tab-content customPills__content" id="pills-tabContent">
        <div class="tab-pane customPills__pane fade show active" id="pills-commercial" role="tabpanel" aria-labelledby="pills-commercial">
          <div class="mainPrTypes__wrap">
            <div class="mainPrTypes__item">
              <div class="mainPrTypes__itemWrap"  style="background-image: url(img/image.jpg)">
                <div class="mainPrTypes__header">
                  <p class="mainPrTypes__title">Офисы</p>
                  <p class="mainPrTypes__subtitle">413 вариантов</p>
                </div>
                <div class="mainPrTypes__buttons">
                  <button class="mainPrTypes__btn">Купить</button>
                  <button class="mainPrTypes__btn">Снять</button>
                </div>
                <div class="mainPrTypes__badge">
                  <p class="mainPrTypes__num">+17</p>
                  <p class="text_16 mainPrTypes__week">за неделю</p>
                </div>
              </div>
              <!-- <button class="btn btn_red mainPrTypes__btn">Выбрать объект</button> -->
            </div>
            <div class="mainPrTypes__item">
              <div class="mainPrTypes__itemWrap"  style="background-image: url(img/image.jpg)">
                <div class="mainPrTypes__header">
                  <p class="mainPrTypes__title">Коммерческая недвижимость</p>
                  <p class="mainPrTypes__subtitle">413 вариантов</p>
                </div>
                <div class="mainPrTypes__buttons">
                  <button class="mainPrTypes__btn">Купить</button>
                  <button class="mainPrTypes__btn">Снять</button>
                </div>
                <div class="mainPrTypes__badge">
                  <p class="mainPrTypes__num">+17</p>
                  <p class="text_16 mainPrTypes__week">за неделю</p>
                </div>
              </div>
            </div>
            <div class="mainPrTypes__item">
              <div class="mainPrTypes__itemWrap"  style="background-image: url(img/image.jpg)">
                <div class="mainPrTypes__header">
                  <p class="mainPrTypes__title">Офисы</p>
                  <p class="mainPrTypes__subtitle">413 вариантов</p>
                </div>
                <div class="mainPrTypes__buttons">
                  <button class="mainPrTypes__btn">Купить</button>
                  <button class="mainPrTypes__btn">Снять</button>
                </div>
                <div class="mainPrTypes__badge">
                  <p class="mainPrTypes__num">+17</p>
                  <p class="text_16 mainPrTypes__week">за неделю</p>
                </div>
              </div>
            </div>
            <div class="mainPrTypes__item">
              <div class="mainPrTypes__itemWrap"  style="background-image: url(img/image.jpg)">
                <div class="mainPrTypes__header">
                  <p class="mainPrTypes__title">Офисы</p>
                  <p class="mainPrTypes__subtitle">413 вариантов</p>
                </div>
                <div class="mainPrTypes__buttons">
                  <button class="mainPrTypes__btn">Купить</button>
                  <button class="mainPrTypes__btn">Снять</button>
                </div>
                <div class="mainPrTypes__badge">
                  <p class="mainPrTypes__num">+17</p>
                  <p class="text_16 mainPrTypes__week">за неделю</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane customPills__pane fade" id="pills-businessSale" role="tabpanel" aria-labelledby="pills-businessSale">...</div>
        <div class="tab-pane customPills__pane fade" id="pills-franchising" role="tabpanel" aria-labelledby="pills-franchising">...</div>
        <div class="tab-pane customPills__pane fade" id="pills-investment" role="tabpanel" aria-labelledby="pills-investment">...</div>
      </div>
      <div class="mainPrTypes__banner" style="background-image: url(img/banner.jpg)">
        <p class="mainPrTypes__bannerText">Здесь может быть баннер</p>
      </div>
    </div>

    <div class="centers">
      <h2 class="blockTitle">Торговые и бизнес центры</h2>
      <div class="flexWrap flexWrap_top">
        <div class="flexCol_40">
          <p class="flexCol__title">Торговые центры</p>
          <div class="cols_2">
            <a href="#" class="filter__epLink">ТЦ Гранд Каньон </a>
            <a href="#" class="filter__epLink">ТЦ Мега Парнас</a>
            <a href="#" class="filter__epLink">ТЦ Норд</a>
            <a href="#" class="filter__epLink">ТЦ Галерея</a>
            <a href="#" class="filter__epLink">ТЦ Гранд Каньон </a>
            <a href="#" class="filter__epLink">ТЦ Мега Парнас</a>
            <a href="#" class="filter__epLink">ТЦ Норд</a>
            <a href="#" class="filter__epLink">ТЦ Галерея</a>
          </div>
          <button class="btn btnOutline btnOutline_red">Показать все</button>
        </div>
        <div class="flexCol_60">
          <p class="flexCol__title">Бизнес центры</p>
          <div class="cols_3">
            <a href="#" class="filter__epLink">БЦ Первая волна </a>
            <a href="#" class="filter__epLink">БЦ Вторая волна</a>
            <a href="#" class="filter__epLink">БЦ Третья волна</a>
            <a href="#" class="filter__epLink">БЦ Четвертая волна</a>
            <a href="#" class="filter__epLink">БЦ Первая волна </a>
            <a href="#" class="filter__epLink">БЦ Вторая волна</a>
            <a href="#" class="filter__epLink">БЦ Третья волна</a>
            <a href="#" class="filter__epLink">БЦ Четвертая волна</a>
            <a href="#" class="filter__epLink">БЦ Первая волна </a>
            <a href="#" class="filter__epLink">БЦ Вторая волна</a>
            <a href="#" class="filter__epLink">БЦ Третья волна</a>
            <a href="#" class="filter__epLink">БЦ Четвертая волна</a>
          </div>
          <button class="btn btnOutline btnOutline_red">Показать все</button>
        </div>
      </div>
    </div>
  </div>

  <div class="redBlock redBlock__bgArr redBlock__margin">
    <div class="container">
      <div class="redBlock__wrap redBlock__wrap_out">
        <div class="redBlock__col">
          <div class="redBlock__arrWrap">
            <div>
              <p class="redBlock__textArr">АРР</p>
              <p class="redBlock__textArrSub">сегодня</p>
            </div>
            {{mixins.icon('arrow_double')}}
          </div>
        </div>
        <div class="redBlock__col redBlock__outSkew">
          <div class="redBlock__numWrap">
            <div class="redBlock__numItem">
              <p class="redBlock__num">53</p>
              <p class="redBlock__numText">городов присутствия</p>
            </div>
            <div class="redBlock__numItem">
              <p class="redBlock__num">243</p>
              <p class="redBlock__numText">консультантов по всей сети</p>
            </div>
            <div class="redBlock__numItem">
              <p class="text_16">более</p>
              <p class="redBlock__num">10109</p>
              <p class="redBlock__numText">успешных сделок</p>
            </div>
            <div class="redBlock__numItem">
              <p class="text_16">более</p>
              <p class="redBlock__num">58 млн. м2</p>
              <p class="redBlock__numText">коммерческой недвижимости</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="specialty">
      <h2 class="blockTitle">Наши специализации</h2>
      <div class="specialty__wrap">
        <div class="specialty__item">
          {{mixins.icon('prop_search')}}
          <p class="specialty__type">Оценка</p>
        </div>
        <div class="specialty__item">
          {{mixins.icon('buy')}}
          <p class="specialty__type">Купля / Продажа</p>
        </div>
        <div class="specialty__item">
          {{mixins.icon('deposit')}}
          <p class="specialty__type">Инвестиции</p>
        </div>
        <div class="specialty__item">
          {{mixins.icon('shop')}}
          <p class="specialty__type">Торговые площади</p>
        </div>
        <div class="specialty__item">
          {{mixins.icon('chair')}}
          <p class="specialty__type">Офисы</p>
        </div>
        <div class="specialty__item">
          {{mixins.icon('garage')}}
          <p class="specialty__type">Склады</p>
        </div>
      </div>
      <div class="specialty__btns">
        <button class="btn specialty__btn btnOutline_red">Все специализации</button>
        <button class="btn specialty__btn btnOutline_red">База объектов</button>
      </div>
    </div>
  </div>

  <div class="redBlock redBlock__marginTop">
    <div class="container">
      <div class="redBlock__center">
        <p class="redBlock__title">
          Мы ответим на все вопросы о недвижимости!
        </p>
        <p class="redBlock__subtitle">просто оставьте номер телефона</p>

        <form action="#" class="redBlock__formCenter">
          <div class="input-group redBlock__inputGroup">
            <div class="form-group form-group-row">
              <label class="form-control-label" for="tel">Телефон:</label>
              <input class="form-control-plaintext" id="tel" name="tel" required type="text">
            </div>
            <button type="submit" class="btn btn_red">Получить бесплатную консультацию</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="greyBlock greyBlock_noMgSm">
    <div class="container">
      <div class="news">
        <div class="news__header">
          <h2 class="blockTitle blockTitle_left">Новости компании</h2>
          <button class="btn news__btn btnOutline_red d-none d-xs-block">Все новости</button>
        </div>
        {% include "partials/_news.html" %}
        <button class="btn news__btn btnOutline_red d-block d-xs-none">Все новости</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="aboutText d-none d-md-block">
      <h3>Сеть консультантов по коммерческой недвижимости</h3>
      <p>Вопрос об открытие или развитии бизнеса встает перед любым деловым человеком, заинтересованном в увеличении собственных средств и получении прибыли. Мы предоставляем физическим и юридическим лицам различные услуги брокериджа и управления коммерческой недвижимостью: аренда коммерческой недвижимости, продажа коммерческой недвижимости в Великом Новгороде и Новгородской области, управления активами — что являет собой вариант наиболее выгодного вложения инвестиций.</p>
      <p>Почему именно мы? Вероятно, у вас появился вполне естественный вопрос: какие именно аргументы мы можем привести для того, чтобы вы обратились именно нашу компанию. Итак, нас характеризуют:</p>
      <ul>
        <li>— Специализация на сегменте коммерческая недвижимость, являющейся для нашей компании, как в общем смысле, так и в частном: наши сотрудники непрестанно работают с офисами, торговыми помещениями, складами, производствами и другой коммерческой недвижимостью.</li>
        <li>— Высокий уровень компетенции наших консультантов, которые обладают обширным опытом в своей сфере, в силу чего способны разрешать в ней вопросы любой сложности.</li>
        <li>— Большая база объектов, что значительно расширяет спектр вашего выбора, по которому вы можете также получить консультации компетентных специалистов.</li>
        <li>— Отсутствие комиссии для арендаторов, мы предлагаем объекты собственника</li>
        <li>— Для собственников недвижимости, отсутствие предоплаты, что сводит шанс обмана к минимуму и гарантирует результат: вы платите исключительно за реальные сделки.</li>
        <li>— Сделки мы проводим под ключ. От заключение договора с собственников до подписание договора аренды или купли продажи</li>
      </ul>
      <div class="aboutText__cols">
        <div class="aboutText__col">
          <p class="aboutText__title">Коммерческая недвижимость:</p>
          <ul>
            <li>— покупка и продажа коммерческой недвижимости;</li>
            <li>— покупка объектов и инвестиции в коммерческую недвижимость;</li>
            <li>— поиск арендаторов и покупателей;</li>
            <li> — аренда объектов;</li>
            <li>— консультации в вопросах оформления сделок;</li>
            <li>— управление коммерческой недвижимостью.</li>
          </ul>
        </div>
        <div class="aboutText__col">
          <p class="aboutText__title">Мы работаем со всеми типами коммерческой недвижимости:</p>
          <ul>
            <li>— офисные помещения в целом, а также офисы в бизнес-центрах в частности;</li>
            <li>— торговые помещения;</li>
            <li>— помещения свободного назначения;</li>
            <li>— производственные помещения;</li>
            <li>— склады.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="redBlock redBlock__bgReady">
    <div class="container">
      <div class="flexWrap flexWrap_between">
        <div class="flexCol_40">
          <p class="redBlock__title">Готовы к взлёту
              с франчайзинговой
              программой АРР?</p>
        </div>
        <div class="flexCol_50">
          <p class="text_16">Партнерская программа «Агентства Регионального Развития» объеденяет в себе федеральную сеть консультантов по коммерческой недвижимости.</p>
          <button class="btn btn_white">Узнать детали франшизы</button>
        </div>
      </div>
    </div>
  </div>
	{% include "partials/_footer.html" %}


{% endblock %}
