---
title: Консультанты
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
  {% include "partials/_header.html" %}

  <div class="container">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Консультанты</a>
      </li>
    </ul>
    <div class="members">
      <h1>Консультанты в Санкт-Петербурге</h1>
      <div class="members__filter">
        <div class="form-row align-items-center">
          <select class="custom-select filter_left" id="memberType">
            <option value="1" selected>По коммерческой недвижимости</option>
            <option value="2">По коммерческой недвижимости</option>
          </select>
          <div class="form-group filter_right" id="memberSearchGroup">
            <label for="memberSearch">{{mixins.icon('search')}}</label>
            <input type="text" id="memberSearch" class="form-control" placeholder="Найти сотрудника, укажите его имя или фамилию, номер телефона»">
          </div>
        </div>
      </div>
      <div class="membersSlider">
        <div class="membersSlider__wrap" id="membersSlider">
          <div class="membersSlider__item">
            <div class="membersSlider__itemWrap">
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
            </div>
          </div>
          <div class="membersSlider__item">
            <div class="membersSlider__itemWrap">
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
              <div class="expert__wrap">
                <div class="expert__img">
                  <img src="img/staff.png" alt="">
                </div>
                <div class="expert__desc">
                  <p class="expert__name">Юрий Весельев</p>
                  <p class="expert__position">Генеральный директор</p>
                  <p class="expert__phone">+7 (963) 333-04-04</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="newsSlider__pagination">
          <button class="membersSlider__prev membersSlider__btn">
            {{mixins.icon('prev_bold')}}
          </button>
          <button class="membersSlider__next membersSlider__btn">
            {{mixins.icon('next_bold')}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="redBlock redBlock__subscribe redBlock__light">
    <div class="container">
      <div class="redBlock__wrap">
        {{mixins.icon('email')}}
        <p class="redBlock__title">Все лучшее из журнала за неделю <br/>
            на вашей почте</p>
        <form action="#">
          <div class="input-group redBlock__inputGroup">
            <div class="form-group">
              <input class="form-control-plaintext" name="email" required type="email" placeholder="user@gmail.com">
            </div>
            <button type="submit" class="btn redBlock__subscribeBtn btn_white">Подписаться</button>
          </div>
        </form>
      </div>
    </div>
  </div>
	{% include "partials/_footer.html" %}


{% endblock %}
