---
title: Новости
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
  {% include "partials/_header.html" %}

  <div class="container">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Новости</a>
      </li>
    </ul>
    <div class="news">
      <h1 class="news__itemTitle">Коллеги из Барнаула прошли обучение в АРР</h1>
      <p class="news__date">27 июня 2018</p>
      <div class="news__text">
        <img src="img/news.png" alt="" class="news__img">
        <p>В прошлом месяце в центральном офисе АРР в Великом Новгороде прошла обучение Марина Пономарева - представитель компании АН «Монолит-Истейт» из Нижнего Новгорода.</p>

        <p>«Монолит Истейт»  – ведущее агентство недвижимости Нижегородского региона.
           Компания оказывает качественные услуги по продаже и аренде недвижимости в Нижнем Новгороде с 1997 года. За это время крупнейшее агентство города обрело репутацию надежного партнера для банков, застройщиков и частных клиентов.
           За четыре дня обучения в рамках курса «Брокеридж коммерческой недвижимости» спикерами были раскрыты темы, объективно необходимые для успешной работы как отдельно взятого консультанта-специалиста, так и продуктивности всей команды в целом. Коллега получила большое количество готовых инструментов для оптимизации рабочих процессов и сокращения срока до первой сделки.
        </p>
        <p>
          Марина поделилась, почему был выбран курс именно от нашего агентства: «АРР успешно позиционирует себя на рынке коммерческой недвижимости. Про вас знают уже далеко за пределами вашего славного города. На Всероссийском Жилищном Конгрессе, который проходил в этому году в апреле в городе Сочи, мое руководство осталось под впечатлением от представления вашей компании и мы наконец приняли решение развивать и укреплять свои позиции на рынке коммерческой недвижимости переняв ваш богатый опыт.
        </p>
        <p>
          После прохождения обучения хотелось бы выразить благодарность руководству АРР за то, что готовы делиться полезным практическим опытом, что очень важно, в частности, для формирования положительного образа профессии в риэлтерской деятельности.»
        </p>
        <p>
          Сейчас коллега планирует развивать отдел коммерческой недвижимости в агентстве «Монолит Истейт», создать новую команду успешных специалистов используя полученные навыки.
        </p>
        <p>
          Желаем успехов в оказании профессиональных услуг в своем регионе!
        </p>
        <p>
          Компания «АРР» даёт возможность каждому начать своё прибыльное дело, а также наладить бизнес  процессы и повысить доходность своей компании! Стань партнёром «АРР» и сделай свой бизнес легким и успешным!
        </p>
        <div class="news__share">
          <p class="bold text_16">Поделиться:</p>
          <div class="news__socLinks">
            <div class="footer__soc footer__soc_light">
              <a href="#" class="footer__socIcon">
                {{mixins.icon('vk')}}
              </a>
              <a href="#" class="footer__socIcon">
                {{mixins.icon('facebook')}}
              </a>
              <a href="#" class="footer__socIcon">
                {{mixins.icon('youtube')}}
              </a>
              <a href="#" class="footer__socIcon">
                {{mixins.icon('instagram')}}
              </a>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr50"/>
      <div class="news__all">
        <p class="text_21 bold">Последние публикации</p>
        {% include "partials/_news.html" %}
      </div>
    </div>
  </div>

  <div class="redBlock redBlock__subscribe redBlock__light">
    <div class="container">
      <div class="redBlock__wrap">
        {{mixins.icon('email')}}
        <p class="redBlock__title">Все лучшее из журнала за неделю <br/>
            на вашей почте</p>
        <form action="#">
          <div class="input-group redBlock__inputGroup">
            <div class="form-group">
              <input class="form-control-plaintext" name="tel" required type="email" placeholder="user@gmail.com">
            </div>
            <button type="submit" class="btn redBlock__subscribeBtn btn_white">Подписаться</button>
          </div>
        </form>
      </div>
    </div>
  </div>
	{% include "partials/_footer.html" %}


{% endblock %}
