---
title: Новости
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
  {% include "partials/_header.html" %}

  <div class="container">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Новости</a>
      </li>
    </ul>
    <div class="news">
      <h1>Новости</h1>
      <div class="newsSlider">
        <div class="newsSlider__wrap" id="newsSlider">
          <div class="newsSlider__item">
            {% include "partials/_news.html" %}
          </div>
          <div class="newsSlider__item">
            {% include "partials/_news.html" %}
          </div>
        </div>
        <div class="newsSlider__pagination">
          <button class="newsSlider__prev newsSlider__btn">
            {{mixins.icon('prev_bold')}}
          </button>
          <button class="newsSlider__next newsSlider__btn">
            {{mixins.icon('next_bold')}}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="redBlock redBlock__subscribe redBlock__light">
    <div class="container">
      <div class="redBlock__wrap">
        {{mixins.icon('email')}}
        <p class="redBlock__title">Все лучшее из журнала за неделю <br/>
            на вашей почте</p>
        <form action="#">
          <div class="input-group redBlock__inputGroup">
            <div class="form-group">
              <input class="form-control-plaintext" name="email" required type="email" placeholder="user@gmail.com">
            </div>
            <button type="submit" class="btn redBlock__subscribeBtn btn_white">Подписаться</button>
          </div>
        </form>
      </div>
    </div>
  </div>
	{% include "partials/_footer.html" %}


{% endblock %}
