---
title: Страница объекта
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{# partial example #}
  {% include "partials/_header.html" %}


  <div class="container">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Коммерческая недвижимость</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Свободного назначения</a>
      </li>
    </ul>
    <div class="flexWrap flexWrap_top flexWrap_between">
      <div class="propCard">
        <h1>Недвижимость свободного назначения</h1>
        <div class="flexWrap flexWrap_center flexWrap_between">
          <ul class="nav nav-pills propNav" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-photo-tab" data-toggle="pill" href="#pills-photo" role="tab" aria-controls="pills-photo"
                aria-selected="true">Фотографии</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-3d-tab" data-toggle="pill" href="#pills-3d" role="tab" aria-controls="pills-3d" aria-selected="false">3D-тур</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-map-tab" data-toggle="pill" href="#pills-map" role="tab" aria-controls="pills-map" aria-selected="false">Карта</a>
            </li>
          </ul>
          <a href="#" class="blackLink d-lg-block d-none" data-toggle="modal" data-target="#reportModal">Пожаловаться на объявление</a>
        </div>

        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-photo" role="tabpanel" aria-labelledby="pills-photo-tab">
            <div class="photoSlider">
              <button class="photoSlider__btn photoSlider__prev">
                {{mixins.icon('arrow_prev')}}
              </button>
              <div id="photoSlider_for">
                <div class="photoSlider__item">
                  <img src="img/image.jpg" alt="">
                </div>
                <div class="photoSlider__item">
                  <img src="img/image.jpg" alt="">
                </div>
                <div class="photoSlider__item">
                  <img src="img/image.jpg" alt="">
                </div>
                <div class="photoSlider__item">
                  <img src="img/image.jpg" alt="">
                </div>
                <div class="photoSlider__item">
                  <img src="img/image.jpg" alt="">
                </div>
                <div class="photoSlider__item">
                  <img src="img/image.jpg" alt="">
                </div>
                <div class="photoSlider__item">
                  <img src="img/image.jpg" alt="">
                </div>
                <div class="photoSlider__item">
                  <img src="img/image.jpg" alt="">
                </div>
                <div class="photoSlider__item">
                  <img src="img/image.jpg" alt="">
                </div>
                <div class="photoSlider__item">
                  <img src="img/image.jpg" alt="">
                </div>
                <div class="photoSlider__item">
                  <img src="img/image.jpg" alt="">
                </div>
              </div>
              <button class="photoSlider__btn photoSlider__next">
                {{mixins.icon('arrow_next')}}
              </button>
            </div>
            <div class="photoSlider__nav">
              <div id="photoSlider_nav">
                <div class="photoSlider__item">
                  <div class="photoSlider__img" style="background-image: url(img/image.jpg)"></div>
                </div>
                <div class="photoSlider__item">
                  <div class="photoSlider__img" style="background-image: url(img/image.jpg)"></div>
                </div>
                <div class="photoSlider__item">
                  <div class="photoSlider__img" style="background-image: url(img/image.jpg)"></div>
                </div>
                <div class="photoSlider__item">
                  <div class="photoSlider__img" style="background-image: url(img/image.jpg)"></div>
                </div>
                <div class="photoSlider__item">
                  <div class="photoSlider__img" style="background-image: url(img/image.jpg)"></div>
                </div>
                <div class="photoSlider__item">
                  <div class="photoSlider__img" style="background-image: url(img/image.jpg)"></div>
                </div>
                <div class="photoSlider__item">
                  <div class="photoSlider__img" style="background-image: url(img/image.jpg)"></div>
                </div>
                <div class="photoSlider__item">
                  <div class="photoSlider__img" style="background-image: url(img/image.jpg)"></div>
                </div>
                <div class="photoSlider__item">
                  <div class="photoSlider__img" style="background-image: url(img/image.jpg)"></div>
                </div>
                <div class="photoSlider__item">
                  <div class="photoSlider__img" style="background-image: url(img/image.jpg)"></div>
                </div>
                <div class="photoSlider__item">
                  <div class="photoSlider__img" style="background-image: url(img/image.jpg)"></div>
                </div>
                <div class="photoSlider__item">
                  <div class="photoSlider__img" style="background-image: url(img/image.jpg)"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="pills-3d" role="tabpanel" aria-labelledby="pills-3d-tab">...</div>
          <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">...</div>
        </div>
        <div class="d-block d-lg-none">
          <p class="propRight__price">36 000 руб / мес</p>
          <p class="propRight__priceForM">462 руб/м2</p>
          <hr class="redHr"/>
          <div class="propRight__mobileFlex">
            <p class="propRight__size">119.6 м2</p>
            <p class="propRight__floor">1/10 этажей</p>
          </div>
          <div class="propRight__table">
            <div class="propRight__tableRow">
              <p class="propRight__info">Год постройки</p>
              <p class="propRight__nums">2008</p>
            </div>
            <div class="propRight__tableRow">
              <p class="propRight__info">Стоимость услуг</p>
              <p class="propRight__nums">18 000 руб</p>
            </div>
            <div class="propRight__tableRow">
              <p class="propRight__info">Код объекта</p>
              <p class="propRight__nums">1234567890</p>
            </div>
          </div>
          <p class="propRight__auth">Предложение доступно для
            субагентов, <a href="#" class="blackLink">авторизуйтесь</a>
          </p>
          <button class="btn propRight__btn">Записаться на просмотр</button>
          <a href="#" class="blackLink blackLink_center">Предложить свою цену</a>
        </div>
        <div class="propsTable">
          <div class="propsTable__itemWrap">
            <div class="propsTable__item">
              <p class="propsTable__name">Тип объекта:</p>
              <p class="propsTable__property">торговое помещение</p>
            </div>
          </div>
          <div class="propsTable__itemWrap">
            <div class="propsTable__item">
              <p class="propsTable__name">Первая линия:</p>
              <p class="propsTable__property">да</p>
            </div>
          </div>
          <div class="propsTable__itemWrap">
            <div class="propsTable__item">
              <p class="propsTable__name">Состояние:</p>
              <p class="propsTable__property">не указано</p>
            </div>
            <div class="propsTable__item">
              <p class="propsTable__name">Назначение:</p>
              <p class="propsTable__property">свободное, под кальянную</p>
            </div>
          </div>
          <div class="propsTable__itemWrap">
            <div class="propsTable__item">
              <p class="propsTable__name">Высокий трафик:</p>
              <p class="propsTable__property">нет</p>
            </div>
          </div>
          <div class="propsTable__itemWrap">
            <div class="propsTable__item">
              <p class="propsTable__name">Первая линия:</p>
              <p class="propsTable__property">да</p>
            </div>
          </div>
          <div class="propsTable__itemWrap">
            <div class="propsTable__item">
              <p class="propsTable__name">Масштабируемость:</p>
              <p class="propsTable__property">да</p>
            </div>
          </div>
          <div class="propsTable__itemWrap">
            <div class="propsTable__item">
              <p class="propsTable__name">Доступ на крышу:</p>
              <p class="propsTable__property">да</p>
            </div>
          </div>
        </div>
        <div class="propsDesc">
          <p class="redTitle">Описание</p>
          <p class="propsDesc__text">Сдаётся помещение свободного назначения площадью 119,6 кв.м. Располагается на цокольном этаже (имеются окна) четырнадцати этажного жилого дома по ул. Холодильная. Имеется 2 входные группы, как с первой линии, так и со двора, место для вывески. В помещении сделан хороший ремонт, пол-плитка, стены-под покраску, потолок-армстронг. Арендная плата составляет 550 рублей за кв.м + коммунальные платежи. Торг возможен.</p>
        </div>
        <div class="propsBtns">
          <button class="btn btn-outline-dark btnOutline btnOutline_red">Карточка объекта</button>
          <button class="btn btn-outline-dark btnOutline btnOutline_red">Презентация</button>
          <button class="btn btn-outline-dark btnOutline btnOutline_red">Краткая презентация</button>
          <button class="btn btn-outline-dark btnOutline btnOutline_red">План</button>
        </div>
        <div class="news__share">
          <p class="bold text_16">Поделиться:</p>
          <div class="news__socLinks">
            <div class="footer__soc footer__soc_light">
              <a href="#" class="footer__socIcon">
                <svg class="icon icon-vk">
                  <use xlink:href="img/sprite.svg#icon-vk"></use>
                </svg>
              </a>
              <a href="#" class="footer__socIcon">
                <svg class="icon icon-facebook">
                  <use xlink:href="img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
              <a href="#" class="footer__socIcon">
                <svg class="icon icon-youtube">
                  <use xlink:href="img/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
              <a href="#" class="footer__socIcon">
                <svg class="icon icon-instagram">
                  <use xlink:href="img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="propRight__owner d-block d-lg-none">
          <div class="propRight__photo">
            <img src="img/owner.png" alt="">
          </div>
          <p class="propRight__name text_16">Сергей Жуков</p>
          <p class="propRight__phone">+7 (910) 123-45-67</p>
          <form action="#" class="callback__form">
            <p class="callback__text">или оставьте ваш номер,
              и я перезвоню в течение 5 минут</p>
            <input class="form-control" id="tel" name="tel" required type="text" placeholder="Телефон:">
            <button type="submit" class="btn propRight__btn callback__btn">Жду звонка</button>
            <p class="callback__disclaimer">Отправляя заявку вы соглашаетесь на обработку <a href="#" class="callback__link">персональных данных</a></p>
          </form>
        </div>
      </div>
      <div class="propRight d-none d-lg-block">
        <div class="topLinks">
          <a href="#" class="blackLink">Сравнить</a>
          <a href="#" class="blackLink">В избранное</a>
        </div>
        <div class="flexWrap flexWrap_center flexWrap_between">
          <p class="propRight__price">36 000 руб / мес</p>
          <div class="propRight__tooltip">
            <div class="propRight__tooltipIcon">?</div>
            <div class="propRight__tooltipContent">
              <p class="propRight__dollar">$500</p>
              <p class="propRight__euro">$420</p>
            </div>
          </div>
        </div>
        <p class="propRight__priceForM">462 руб/м2</p>
        <hr class="redHr"/>
        <div class="flexWrap flexWrap_between">
          <p class="propRight__size">119.6 м2</p>
          <p class="propRight__floor">1/10 этажей</p>
        </div>
        <div class="propRight__table">
          <div class="propRight__tableRow">
            <p class="propRight__info">Год постройки</p>
            <p class="propRight__nums">2008</p>
          </div>
          <div class="propRight__tableRow">
            <p class="propRight__info">Стоимость услуг</p>
            <p class="propRight__nums">18 000 руб</p>
          </div>
          <div class="propRight__tableRow">
            <p class="propRight__info">Код объекта</p>
            <p class="propRight__nums">1234567890</p>
          </div>
        </div>
        <p class="propRight__auth">Предложение доступно для
          субагентов, <a href="#" class="blackLink">авторизуйтесь</a>
        </p>
        <button class="btn propRight__btn" data-toggle="modal" data-target="#contactModal">Записаться на просмотр</button>
        <button class="blackLink blackLink_center" data-toggle="modal" data-target="#priceModal">Предложить свою цену</button>

        <div class="propRight__owner">
          <div class="propRight__photo">
            <img src="img/owner.png" alt="">
          </div>
          <p class="propRight__name text_16">Сергей Жуков</p>
          <p class="propRight__phone">+7 (910) 123-45-67</p>
          <form action="#" class="callback__form">
            <p class="callback__text">или оставьте ваш номер,
              и я перезвоню в течение 5 минут</p>
            <input class="form-control" id="tel" name="tel" required type="text" placeholder="Телефон:">
            <button type="submit" class="btn propRight__btn callback__btn">Жду звонка</button>
            <p class="callback__disclaimer">Отправляя заявку вы соглашаетесь на обработку <a href="#" class="callback__link">персональных данных</a></p>
          </form>
        </div>
      </div>
    </div>
    <div class="similarProps">
      <p class="text_21 bold">Похожие объявления</p>
      <div class="flexWrap flexWrap_center flexWrap_between similarProps__header">
        <ul class="nav nav-pills customPills">
          <li class="nav-item customPills__item">
            <button class="nav-link customPills__link active">По цене</button>
          </li>
          <li class="nav-item customPills__item">
            <button class="nav-link customPills__link">По площади</button>
          </li>
          <li class="nav-item customPills__item">
            <button class="nav-link customPills__link">По назначению</button>
          </li>
        </ul>
        <a href="#" class="blackLink d-none d-lg-block">Посмотреть все похожие объявления</a>
      </div>
      {% include "partials/_properties.html" %}
    </div>



  </div>
  <div class="redBlock">
    <div class="container">
      <div class="redBlock__center">
        <p class="redBlock__title">
          Не хочу искать, перезвоните мне!
        </p>
        <p class="redBlock__subtitle">Оставьте номер телефона, наш специалист свяжится с вами и поможет с подбором недвижимости!</p>

        <form action="#" class="redBlock__formCenter">
          <div class="input-group redBlock__inputGroup">
            <div class="form-group form-group-row">
              <label class="form-control-label" for="tel">Телефон:</label>
              <input class="form-control-plaintext" id="tel" name="tel" required type="text">
            </div>
            <button type="submit" class="btn btn_red">Заказать помощь в подборе</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% include "partials/_footer.html" %}


{% endblock %}

