<div class="redBlock">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-12">
        <h3>Готовы</h3>
      </div>
      <div class="col-md-7 col-12">
        <p class="redBlock__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam laboriosam deserunt doloremque veniam necessitatibus corporis quasi delectus, commodi neque praesentium voluptatibus totam, quam excepturi debitis, rem ad facilis explicabo temporibus?
        </p>
        <button class="btn btn-outline-dark redBlock__btn redOutline">Узнать детали франшизы</button>
      </div>
    </div>
  </div>
</div>
