<div class="expertsSlider__wrap">
  <button class="expertsSlider__btn expertsSlider_prev">
    {{mixins.icon('prev_bold')}}
  </button>
  <div class="expertsSlider" id="expertsSlider">
    <div class="expertsSlider__slide">
      <div class="expertsSlider__item">
        <div class="expert__wrap">
          <div class="expert__img">
            <img src="img/staff.png" alt="">
          </div>
          <div class="expert__desc">
            <p class="expert__name">Юрий Весельев</p>
            <p class="expert__position">Генеральный директор</p>
            <p class="expert__phone">+7 (963) 333-04-04</p>
          </div>
        </div>
        <div class="expert__wrap">
          <div class="expert__img">
            <img src="img/staff.png" alt="">
          </div>
          <div class="expert__desc">
            <p class="expert__name">Юрий Весельев</p>
            <p class="expert__position">Генеральный директор</p>
            <p class="expert__phone">+7 (963) 333-04-04</p>
          </div>
        </div>
        <div class="expert__wrap">
          <div class="expert__img">
            <img src="img/staff.png" alt="">
          </div>
          <div class="expert__desc">
            <p class="expert__name">Юрий Весельев</p>
            <p class="expert__position">Генеральный директор</p>
            <p class="expert__phone">+7 (963) 333-04-04</p>
          </div>
        </div>
        <div class="expert__wrap">
          <div class="expert__img">
            <img src="img/staff.png" alt="">
          </div>
          <div class="expert__desc">
            <p class="expert__name">Юрий Весельев</p>
            <p class="expert__position">Генеральный директор</p>
            <p class="expert__phone">+7 (963) 333-04-04</p>
          </div>
        </div>
        <div class="expert__wrap">
          <div class="expert__img">
            <img src="img/staff.png" alt="">
          </div>
          <div class="expert__desc">
            <p class="expert__name">Юрий Весельев</p>
            <p class="expert__position">Генеральный директор</p>
            <p class="expert__phone">+7 (963) 333-04-04</p>
          </div>
        </div>
      </div>
    </div>
    <div class="expertsSlider__slide">
      <div class="expertsSlider__item">
        <div class="expert__wrap">
          <div class="expert__img">
            <img src="img/staff.png" alt="">
          </div>
          <div class="expert__desc">
            <p class="expert__name">Юрий Весельев</p>
            <p class="expert__position">Генеральный директор</p>
            <p class="expert__phone">+7 (963) 333-04-04</p>
          </div>
        </div>
        <div class="expert__wrap">
          <div class="expert__img">
            <img src="img/staff.png" alt="">
          </div>
          <div class="expert__desc">
            <p class="expert__name">Юрий Весельев</p>
            <p class="expert__position">Генеральный директор</p>
            <p class="expert__phone">+7 (963) 333-04-04</p>
          </div>
        </div>
        <div class="expert__wrap">
          <div class="expert__img">
            <img src="img/staff.png" alt="">
          </div>
          <div class="expert__desc">
            <p class="expert__name">Юрий Весельев</p>
            <p class="expert__position">Генеральный директор</p>
            <p class="expert__phone">+7 (963) 333-04-04</p>
          </div>
        </div>
        <div class="expert__wrap">
          <div class="expert__img">
            <img src="img/staff.png" alt="">
          </div>
          <div class="expert__desc">
            <p class="expert__name">Юрий Весельев</p>
            <p class="expert__position">Генеральный директор</p>
            <p class="expert__phone">+7 (963) 333-04-04</p>
          </div>
        </div>
        <div class="expert__wrap">
          <div class="expert__img">
            <img src="img/staff.png" alt="">
          </div>
          <div class="expert__desc">
            <p class="expert__name">Юрий Весельев</p>
            <p class="expert__position">Генеральный директор</p>
            <p class="expert__phone">+7 (963) 333-04-04</p>
          </div>
        </div>
      </div>
    </div>
    <div class="expertsSlider__slide">
      <div class="expertsSlider__item">
        <div class="expert__wrap">
          <div class="expert__img">
            <img src="img/staff.png" alt="">
          </div>
          <div class="expert__desc">
            <p class="expert__name">Юрий Весельев</p>
            <p class="expert__position">Генеральный директор</p>
            <p class="expert__phone">+7 (963) 333-04-04</p>
          </div>
        </div>
        <div class="expert__wrap">
          <div class="expert__img">
            <img src="img/staff.png" alt="">
          </div>
          <div class="expert__desc">
            <p class="expert__name">Юрий Весельев</p>
            <p class="expert__position">Генеральный директор</p>
            <p class="expert__phone">+7 (963) 333-04-04</p>
          </div>
        </div>
        <div class="expert__wrap">
          <div class="expert__img">
            <img src="img/staff.png" alt="">
          </div>
          <div class="expert__desc">
            <p class="expert__name">Юрий Весельев</p>
            <p class="expert__position">Генеральный директор</p>
            <p class="expert__phone">+7 (963) 333-04-04</p>
          </div>
        </div>
        <div class="expert__wrap">
          <div class="expert__img">
            <img src="img/staff.png" alt="">
          </div>
          <div class="expert__desc">
            <p class="expert__name">Юрий Весельев</p>
            <p class="expert__position">Генеральный директор</p>
            <p class="expert__phone">+7 (963) 333-04-04</p>
          </div>
        </div>
        <div class="expert__wrap">
          <div class="expert__img">
            <img src="img/staff.png" alt="">
          </div>
          <div class="expert__desc">
            <p class="expert__name">Юрий Весельев</p>
            <p class="expert__position">Генеральный директор</p>
            <p class="expert__phone">+7 (963) 333-04-04</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="expertsSlider__btn expertsSlider_next">
    {{mixins.icon('next_bold')}}
  </button>
</div>
