<div class="filter">
  <h1 class="filter__title">Поиск инвестиционных проектов</h1>
  <p class="filter__subheader">Укажите необходимые параметры и найдите то, что вам необходимо.</p>
  <div class="filter__wrap">
    <form>
      <div class="form-row align-items-center">
        <button type="button" class="form-control formCol33" id="propertyRegion" data-toggle="modal" data-target="#cityModalFilter">
          Регион
        </button>
        <div class="btn-group formCol33">
          <input type="hidden" id="projectType" required="">
          <button class="dropdown-toggle form-control" data-toggle="dropdown">Назначение <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Свободного назначения</a></li>
            <li><a href="#">Один</a></li>
            <li><a href="#">Два</a></li>
            <li><a href="#">Три</a></li>
          </ul>
        </div>
        <div class="btn-group formCol33">
          <input type="hidden" id="projectCategory" required="">
          <button class="dropdown-toggle form-control" data-toggle="dropdown">Категория проекта <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Свободного назначения</a></li>
            <li><a href="#">Один</a></li>
            <li><a href="#">Два</a></li>
            <li><a href="#">Три</a></li>
          </ul>
        </div>
        <div class="form-group formCol33" id="addressGroup">
          <label for="profit">Объем инвестиций (руб)</label>
          <input type="text" class="form-control" id="profit" placeholder="от">
        </div>
        <div class="btn-group formCol33">
          <input type="hidden" id="projectStage" required="">
          <button class="dropdown-toggle form-control" data-toggle="dropdown">Стадия доходности <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Уже приносит прибыль</a></li>
            <li><a href="#">Прибыль после инвестиций</a></li>
          </ul>
        </div>
        <div class="btn-group formCol33">
          <input type="hidden" id="investType" required="">
          <button class="dropdown-toggle form-control" data-toggle="dropdown">Тип вложения <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Процент</a></li>
            <li><a href="#">Доля от процента</a></li>
          </ul>
        </div>
      </div>
      <div class="filter__btns">
        <button class="btn btnOutline btnOutline_red">Расширенный поиск</button>
        <button class="btn btn_red btn_red_light" type="submit">Показать <span class="filter__cardNums">1280</span> объявлений</button>
      </div>
    </form>
  </div>
  <hr class="defaultHr"/>

  <h3 class="filter__epTitle">Вы можете найти <span class="bold red">недвижимость под конкретную деятельность</span></h3>
  <div class="filter__epList">
    <a href="#" class="filter__epLink">Под автосервис</a>
    <a href="#" class="filter__epLink">Под производство</a>
    <a href="#" class="filter__epLink">ПСН</a>
    <a href="#" class="filter__epLink">Под столовую</a>
    <a href="#" class="filter__epLink">Под кафе</a>
    <a href="#" class="filter__epLink">Под магазин</a>
    <a href="#" class="filter__epLink">Аренда под бизнес</a>
    <a href="#" class="filter__epLink">Аренда земли</a>
    <a href="#" class="filter__epLink">Под автосервис</a>
    <a href="#" class="filter__epLink">Под производство</a>
    <a href="#" class="filter__epLink">ПСН</a>
    <a href="#" class="filter__epLink">Под столовую</a>
    <a href="#" class="filter__epLink">Под кафе</a>
    <a href="#" class="filter__epLink">Под магазин</a>
    <a href="#" class="filter__epLink">Аренда под бизнес</a>
    <a href="#" class="filter__epLink">Аренда земли</a>
    <a href="#" class="filter__epLink">Под автосервис</a>
    <a href="#" class="filter__epLink">Под производство</a>
    <a href="#" class="filter__epLink">ПСН</a>
    <a href="#" class="filter__epLink">Под столовую</a>
  </div>

</div>
