<div class="filter">
  <h1 class="filter__title">Поиск коммерческой недвижимости</h1>
  <p class="filter__subheader">Укажите необходимые параметры и найдите то, что вам необходимо.</p>
  <div class="filter__wrap">
    <form>
      <div class="form-row align-items-center">
        <div class="btn-group formCol33">
          <input type="hidden" id="baseType" required="">
          <button class="dropdown-toggle form-control" data-toggle="dropdown" >Тип базы<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Один</a></li>
            <li><a href="#">Два</a></li>
            <li><a href="#">Три</a></li>
          </ul>
        </div>
        <button type="button" class="form-control formCol33" id="propertyRegion" data-toggle="modal" data-target="#cityModalFilter">
          Город
        </button>
        <div class="btn-group formCol33">
          <input type="hidden" id="dealType" required="">
          <button class="dropdown-toggle form-control" data-toggle="dropdown">Тип сделки <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Купить</a></li>
            <li><a href="#">Продать</a></li>
          </ul>
        </div>
        <div class="input-group formCol33" id="sizeGroup">
          <input type="text" class="form-control" id="sizeFrom" placeholder="от">
          <input type="text" class="form-control" id="sizeTo" placeholder="до">
        </div>
        <div class="input-group formCol33" id="priceGroup">
          <input type="text" class="form-control filterInputJs" id="priceFrom" placeholder="от">
          <input type="text" class="form-control filterInputJs" id="priceTo" placeholder="до">
        </div>
        <div class="btn-group formCol33" id="propertyType">
          <button class="dropdown-toggle form-control" id="dropdownMenuButton1 propertyTypeBtn" data-toggle="dropdown" data-toggle="tooltip" data-placement="top" title="Тип объекта">Тип объекта<span class="caret"></span></button>
          <div class="dropdown-menu p-4" id="propertyTypeDropdown" aria-labelledby="dropdownMenuButton1">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="type1">
              <label class="form-check-label" for="type1">Торговая</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="type2">
              <label class="form-check-label" for="type2">Офисы</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="type3">
              <label class="form-check-label" for="type3">Склады</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="type4">
              <label class="form-check-label" for="type4">Жилая/Апартаменты</label>
            </div>
          </div>
        </div>
        <!-- <div class="btn-group formCol33" id="propertyPurpose">
          <button class="dropdown-toggle form-control" id="dropdownMenuButton1 propertyPurposeBtn" data-toggle="dropdown" data-toggle="tooltip" data-placement="top" title="Тип объекта">Назначение<span class="caret"></span></button>
          <div class="dropdown-menu p-4" id="propertyPurposeDropdown" aria-labelledby="dropdownMenuButton1">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="purpose1" checked>
              <label class="form-check-label" for="purpose1">Свободного назначения</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="purpose2">
              <label class="form-check-label" for="purpose2">Офисы</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="purpose3">
              <label class="form-check-label" for="purpose3">Склады</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="purpose4">
              <label class="form-check-label" for="purpose4">Жилая/Апартаменты</label>
            </div>
          </div>
        </div> -->
        <div class="form-group" id="searchGroup">
          <label for="search">{{mixins.icon('search')}}</label>
          <input type="text" id="search" class="form-control" placeholder="Хочу найти, например: «Центр: Исторический от 400 000»">
        </div>
      </div>
      <div class="filter__btns">
        <button class="btn btnOutline btnOutline_red">Расширенный поиск</button>
        <button class="btn btn_red btn_red_light" type="submit">Показать <span class="filter__cardNums">1280</span> объявлений</button>
      </div>
    </form>
  </div>
  <hr class="defaultHr"/>
  <h3 class="filter__epTitle">Вы можете найти <span class="bold red">недвижимость под конкретную деятельность</span></h3>
  <div class="filter__epList">
    <a href="#" class="filter__epLink">Под автосервис</a>
    <a href="#" class="filter__epLink">Под производство</a>
    <a href="#" class="filter__epLink">ПСН</a>
    <a href="#" class="filter__epLink">Под столовую</a>
    <a href="#" class="filter__epLink">Под кафе</a>
    <a href="#" class="filter__epLink">Под магазин</a>
    <a href="#" class="filter__epLink">Аренда под бизнес</a>
    <a href="#" class="filter__epLink">Аренда земли</a>
    <a href="#" class="filter__epLink">Под автосервис</a>
    <a href="#" class="filter__epLink">Под производство</a>
    <a href="#" class="filter__epLink">ПСН</a>
    <a href="#" class="filter__epLink">Под столовую</a>
    <a href="#" class="filter__epLink">Под кафе</a>
    <a href="#" class="filter__epLink">Под магазин</a>
    <a href="#" class="filter__epLink">Аренда под бизнес</a>
    <a href="#" class="filter__epLink">Аренда земли</a>
    <a href="#" class="filter__epLink">Под автосервис</a>
    <a href="#" class="filter__epLink">Под производство</a>
    <a href="#" class="filter__epLink">ПСН</a>
    <a href="#" class="filter__epLink">Под столовую</a>
  </div>
</div>
