<div class="filter">
  <div class="btn-group">
    <button class="btn dropdown-toggle btn-link filter__title dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Поиск коммерческой недвижимости
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <ul class="nav filter__nav" id="myTab" role="tablist" aria-labelledby="dropdownMenuButton">
        <li class="nav-item">
          <a class="nav-link active" id="properties-tab" data-toggle="tab" href="#properties" role="tab" aria-controls="home" aria-selected="true">Поиск коммерческой недвижимости</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="business-tab" data-toggle="tab" href="#business" role="tab" aria-controls="profile" aria-selected="false">Поиск доходного бизнеса</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="income-tab" data-toggle="tab" href="#income" role="tab" aria-controls="contact" aria-selected="false">Поиск доходной недвижимости</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="invest-tab" data-toggle="tab" href="#invest" role="tab" aria-controls="contact" aria-selected="false">Поиск инвестиционных проектов</a>
        </li>
      </ul>
    </div>
  </div>
  <p class="filter__subheader">Укажите необходимые параметры и найдите то, что вам необходимо.</p>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="properties" role="tabpanel" aria-labelledby="properties-tab">
      <div class="filter__wrap">
        <form>
          <div class="form-row align-items-center">
            <div class="btn-group formCol33">
              <input type="hidden" id="baseType" required="">
              <button class="dropdown-toggle form-control" data-toggle="dropdown" >Тип базы<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Один</a></li>
                <li><a href="#">Два</a></li>
                <li><a href="#">Три</a></li>
              </ul>
            </div>
            <button type="button" class="form-control formCol33" id="propertyRegion" data-toggle="modal" data-target="#cityModalFilter">
              Город
            </button>
            <div class="btn-group formCol33">
              <input type="hidden" id="dealType" required="">
              <button class="dropdown-toggle form-control" data-toggle="dropdown">Тип сделки <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Купить</a></li>
                <li><a href="#">Продать</a></li>
              </ul>
            </div>
            <div class="input-group formCol33" id="sizeGroup">
              <input type="text" class="form-control" id="sizeFrom" placeholder="от">
              <input type="text" class="form-control" id="sizeTo" placeholder="до">
            </div>
            <div class="input-group formCol33" id="priceGroup">
              <input type="text" class="form-control filterInputJs" id="priceFrom" placeholder="от">
              <input type="text" class="form-control filterInputJs" id="priceTo" placeholder="до">
            </div>
            <div class="btn-group formCol33" id="propertyType">
              <button class="dropdown-toggle form-control" id="dropdownMenuButton1 propertyTypeBtn" data-toggle="dropdown" data-toggle="tooltip" data-placement="top" title="Тип объекта">Тип объекта<span class="caret"></span></button>
              <div class="dropdown-menu p-4" id="propertyTypeDropdown" aria-labelledby="dropdownMenuButton1">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="type1">
                  <label class="form-check-label" for="type1">Торговая</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="type2">
                  <label class="form-check-label" for="type2">Офисы</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="type3">
                  <label class="form-check-label" for="type3">Склады</label>
                </div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="type4">
                  <label class="form-check-label" for="type4">Жилая/Апартаменты</label>
                </div>
              </div>
            </div>
            <div class="form-group" id="searchGroup">
              <label for="search">{{mixins.icon('search')}}</label>
              <input type="text" id="search" class="form-control" placeholder="Хочу найти, например: «Центр: Исторический от 400 000»">
            </div>
          </div>
          <div class="filter__btns">
            <button class="btn btnOutline btnOutline_red">Расширенный поиск</button>
            <button class="btn btn_red btn_red_light" type="submit">Показать <span class="filter__cardNums">1280</span> объявлений</button>
          </div>
        </form>
      </div>
    </div>
    <div class="tab-pane fade" id="business" role="tabpanel" aria-labelledby="business-tab">
      <div class="filter__wrap">
        <form>
          <div class="form-row align-items-center">
            <button type="button" class="form-control formCol33" id="propertyRegion" data-toggle="modal" data-target="#cityModalFilter">
              Регион
            </button>
            <div class="btn-group formCol33">
              <input type="hidden" id="businessFormat" required="">
              <button class="dropdown-toggle form-control" data-toggle="dropdown">Формат бизнеса <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Действующий</a></li>
                <li><a href="#">Стартап</a></li>
              </ul>
            </div>
            <div class="btn-group formCol33">
              <input type="hidden" id="businessType" required="">
              <button class="dropdown-toggle form-control" data-toggle="dropdown">Тип бизнеса <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Кафе</a></li>
                <li><a href="#">Автомойка</a></li>
                <li><a href="#">Два</a></li>
                <li><a href="#">Три</a></li>
              </ul>
            </div>
            <div class="form-group formCol25" id="addressGroup">
              <label for="profit">Доходность в мес. (руб)</label>
              <input type="text" class="form-control" id="profit" placeholder="от">
            </div>
            <div class="form-group formCol25" id="addressGroup">
              <label for="return">Окупаемость (мес)</label>
              <input type="text" class="form-control" id="return" placeholder="до">
            </div>
            <div class="input-group formCol25" id="priceGroup">
              <input type="text" class="form-control" id="priceFrom" placeholder="от">
              <input type="text" class="form-control" id="priceTo" placeholder="до">
            </div>
            <div class="btn-group formCol25" id="propertyExtra">
              <button class="dropdown-toggle form-control" data-toggle="dropdown">Доп. параметры <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Свободного назначения</a></li>
                <li><a href="#">Один</a></li>
                <li><a href="#">Два</a></li>
                <li><a href="#">Три</a></li>
              </ul>
            </div>
            <div class="form-group" id="searchGroup">
              <label for="search">{{mixins.icon('search')}}</label>
              <input type="text" id="search" class="form-control" placeholder="Хочу найти, например: «Центр: Исторический от 400 000»">
            </div>
          </div>
          <div class="filter__btns">
            <button class="btn btnOutline btnOutline_red">Расширенный поиск</button>
            <button class="btn btn_red btn_red_light" type="submit">Показать <span class="filter__cardNums">1280</span> объявлений</button>
          </div>
        </form>
      </div>
    </div>
    <div class="tab-pane fade" id="income" role="tabpanel" aria-labelledby="income-tab">
      <div class="filter__wrap">
        <form>
          <div class="form-row align-items-center">
            <button type="button" class="form-control formCol33" id="propertyRegion" data-toggle="modal" data-target="#cityModalFilter">
              Регион
            </button>
            <div class="btn-group formCol33">
              <input type="hidden" id="projectType" required="">
              <button class="dropdown-toggle form-control" data-toggle="dropdown">Назначение <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Свободного назначения</a></li>
                <li><a href="#">Один</a></li>
                <li><a href="#">Два</a></li>
                <li><a href="#">Три</a></li>
              </ul>
            </div>
            <div class="btn-group formCol33">
              <input type="hidden" id="projectCategory" required="">
              <button class="dropdown-toggle form-control" data-toggle="dropdown">Категория проекта <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Свободного назначения</a></li>
                <li><a href="#">Один</a></li>
                <li><a href="#">Два</a></li>
                <li><a href="#">Три</a></li>
              </ul>
            </div>
            <div class="form-group formCol33" id="addressGroup">
              <label for="profit">Объем инвестиций (руб)</label>
              <input type="text" class="form-control" id="profit" placeholder="от">
            </div>
            <div class="btn-group formCol33">
              <input type="hidden" id="projectStage" required="">
              <button class="dropdown-toggle form-control" data-toggle="dropdown">Стадия доходности <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Уже приносит прибыль</a></li>
                <li><a href="#">Прибыль после инвестиций</a></li>
              </ul>
            </div>
            <div class="btn-group formCol33">
              <input type="hidden" id="investType" required="">
              <button class="dropdown-toggle form-control" data-toggle="dropdown">Тип вложения <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Процент</a></li>
                <li><a href="#">Доля от процента</a></li>
              </ul>
            </div>
          </div>
          <div class="filter__btns">
            <button class="btn btnOutline btnOutline_red">Расширенный поиск</button>
            <button class="btn btn_red btn_red_light" type="submit">Показать <span class="filter__cardNums">1280</span> объявлений</button>
          </div>
        </form>
      </div>
    </div>
    <div class="tab-pane fade" id="invest" role="tabpanel" aria-labelledby="invest-tab">
      <div class="filter__wrap">
        <form>
          <div class="form-row align-items-center">
            <button type="button" class="form-control formCol33" id="propertyRegion" data-toggle="modal" data-target="#cityModalFilter">
              Регион
            </button>
            <div class="btn-group formCol33">
              <input type="hidden" id="businessFormat" required="">
              <button class="dropdown-toggle form-control" data-toggle="dropdown">Формат бизнеса <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Действующий</a></li>
                <li><a href="#">Стартап</a></li>
              </ul>
            </div>
            <div class="btn-group formCol33">
              <input type="hidden" id="businessType" required="">
              <button class="dropdown-toggle form-control" data-toggle="dropdown">Тип бизнеса <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Кафе</a></li>
                <li><a href="#">Автомойка</a></li>
                <li><a href="#">Два</a></li>
                <li><a href="#">Три</a></li>
              </ul>
            </div>
            <div class="form-group formCol25" id="addressGroup">
              <label for="profit">Доходность в мес. (руб)</label>
              <input type="text" class="form-control" id="profit" placeholder="от">
            </div>
            <div class="form-group formCol25" id="addressGroup">
              <label for="return">Окупаемость (мес)</label>
              <input type="text" class="form-control" id="return" placeholder="до">
            </div>
            <div class="input-group formCol25" id="priceGroup">
              <input type="text" class="form-control" id="priceFrom" placeholder="от">
              <input type="text" class="form-control" id="priceTo" placeholder="до">
            </div>
            <div class="btn-group formCol25">
              <input type="hidden" id="propertyExtra" required="">
              <button class="dropdown-toggle form-control" data-toggle="dropdown">Доп. параметры <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Свободного назначения</a></li>
                <li><a href="#">Один</a></li>
                <li><a href="#">Два</a></li>
                <li><a href="#">Три</a></li>
              </ul>
            </div>
            <div class="form-group" id="searchGroup">
              <label for="search">{{mixins.icon('search')}}</label>
              <input type="text" id="search" class="form-control" placeholder="Хочу найти, например: «Центр: Исторический от 400 000»">
            </div>
          </div>

          <div class="filter__btns">
            <button class="btn btnOutline btnOutline_red">Расширенный поиск</button>
            <button class="btn btn_red btn_red_light" type="submit">Показать <span class="filter__cardNums">1280</span> объявлений</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <hr class="defaultHr"/>

  <h3 class="filter__epTitle">Вы можете найти <span class="bold red">недвижимость под конкретную деятельность</span></h3>
  <div class="filter__epList">
    <a href="#" class="filter__epLink">Под автосервис</a>
    <a href="#" class="filter__epLink">Под производство</a>
    <a href="#" class="filter__epLink">ПСН</a>
    <a href="#" class="filter__epLink">Под столовую</a>
    <a href="#" class="filter__epLink">Под кафе</a>
    <a href="#" class="filter__epLink">Под магазин</a>
    <a href="#" class="filter__epLink">Аренда под бизнес</a>
    <a href="#" class="filter__epLink">Аренда земли</a>
    <a href="#" class="filter__epLink">Под автосервис</a>
    <a href="#" class="filter__epLink">Под производство</a>
    <a href="#" class="filter__epLink">ПСН</a>
    <a href="#" class="filter__epLink">Под столовую</a>
    <a href="#" class="filter__epLink">Под кафе</a>
    <a href="#" class="filter__epLink">Под магазин</a>
    <a href="#" class="filter__epLink">Аренда под бизнес</a>
    <a href="#" class="filter__epLink">Аренда земли</a>
    <a href="#" class="filter__epLink">Под автосервис</a>
    <a href="#" class="filter__epLink">Под производство</a>
    <a href="#" class="filter__epLink">ПСН</a>
    <a href="#" class="filter__epLink">Под столовую</a>
  </div>
</div>
