<footer>
  <div class="footer">
    <div class="container">
      <div class="footer__top d-none d-lg-block">
        <div class="row">
          <div class="col-md-4">
            <p class="footer__title">Главная</p>
            <div class="footer__nav nav">
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Коммерческая недвижимость
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Готовый бизнес
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Арендный бизнес
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Брокеридж
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Управление
                </a>
              </li>
            </div>
          </div>
          <div class="col-md-4">
            <p class="footer__title">О компании</p>
            <div class="footer__nav footer__col nav">
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  О нас
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Новости
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Руководство
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Франшиза
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Миссия
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Почему мы
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Сотрудники
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Пресс-центр
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Форум
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Контакты
                </a>
              </li>
            </div>
          </div>
          <div class="col-md-4">
            <p class="footer__title">Услуги</p>
            <div class="footer__nav footer__col nav">
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Купить
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Продать
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Снять
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Оценить
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Специализации
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Обучение
                </a>
              </li>
              <li class="nav-item footer__navItem">
                <a href="#" class="nav-link footer__navLink">
                  Стоимость услуг
                </a>
              </li>
            </div>
          </div>
        </div>
      </div>
      <hr class="footer__hr"/>
      <div class="footer__middle">
        <div class="footer__contacts">
          <p class="footer__text">Тел.: <a href="tel:+78162909201" class="bold">+7 (8162) 90-92-01</a> (многоканальный).</p>
          <p class="footer__text">Email: <a href="mailto:info@arrpro.ru" class="bold">info@arrpro.ru</a></p>
          <p class="footer__text">Экстренный тел.:<br/> <a href="tel:+79633663777" class="bold">+7 (963) 366-37-77</a></p>
        </div>
        <div class="footer__address">
          <p class="footer__text">г. Великий Новгород, проспект Мира, 32 к1.</p>
          <p class="footer__text"><span class="bold">Режим работы:</span> <br/> Пн-Пт: с 09:00 до 18:00. Без обеда</p>
        </div>
        <div class="footer__links">
          <div class="footer__soc">
            <a href="#" class="footer__socIcon">
              {{mixins.icon('vk')}}
            </a>
            <a href="#" class="footer__socIcon">
              {{mixins.icon('facebook')}}
            </a>
            <a href="#" class="footer__socIcon">
              {{mixins.icon('youtube')}}
            </a>
            <a href="#" class="footer__socIcon">
              {{mixins.icon('instagram')}}
            </a>
          </div>
          <button class="btn btn-outline-light btnOutline btnOutline_white footer__btn" data-toggle="modal" data-target="#authModal">Войти в личный кабинет</button>
        </div>
      </div>
      <div class="footer__bottom">
        <p class="footer__copy">©2014–2018 ООО «АРР» — Консалтинг в коммерческой недвижимости.</p>
        <a href="#" class="footer__policy">Политика обработки персональных данных</a>
      </div>
      <a href="#" class="headerMob__desktop footer__desktop">Перейти к полной версии</a>
    </div>

  </div>
  <div class="fscroll d-flex d-md-none">
    <button class="fscroll__item">
      {{mixins.icon('call')}}
      <p class="fscroll__title">
        Позвонить
      </p>
    </button>
    <button class="fscroll__item">
      {{mixins.icon('mail')}}
      <p class="fscroll__title">
        Оставить заявку
      </p>
    </button>
    <button class="fscroll__item">
      {{mixins.icon('chat')}}
      <p class="fscroll__title">
        Написать
      </p>
    </button>
  </div>
</footer>

<!-- City Modal -->
<div class="modal fade cityModal__modal" id="cityModal" tabindex="-1" role="dialog" aria-labelledby="cityModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cityModalLabel">Выберите город из списка</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input id="city_search" class="cityModal__search form-control" name="search_text" placeholder="Поиск по городам" type="text">
        <div class="cityModal__columns">
          <li>
            <span>В</span>
            <a href="#" data-dismiss="modal">Великий Новгород</a>
          </li>
          <li>
            <span></span>
            <a href="#" data-dismiss="modal">Владивосток</a>
          </li>
          <li>
            <span></span>
            <a href="#" data-dismiss="modal">Волгоград</a>
          </li>
          <li>
            <span></span>
            <a href="#" data-dismiss="modal">Воронеж</a>
          </li>
          <li>
            <span>В</span>
            <a href="#" data-dismiss="modal">Великий Новгород</a>
          </li>
          <li>
            <span></span>
            <a href="#" data-dismiss="modal">Владивосток</a>
          </li>
          <li>
            <span></span>
            <a href="#" data-dismiss="modal">Волгоград</a>
          </li>
          <li>
            <span></span>
            <a href="#" data-dismiss="modal">Воронеж</a>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Оформите заявку и получите скидку!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="name" required placeholder="Введите имя">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" id="phone" required placeholder="Введите телефон">
          </div>
          <button type="submit" class="btn btn_red btn_red_light">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- City Modal Filter -->
<div class="modal fade cityModal__modal" id="cityModalFilter" tabindex="-1" role="dialog" aria-labelledby="cityModalFilterLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cityModalFilterLabel">Выберите город из списка</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input id="city_search" class="cityModal__search form-control" name="search_text" placeholder="Поиск по городам" type="text">
        <div class="cityModal__columns">
          <li>
            <span>В</span>
            <a href="#" data-dismiss="modal">Великий Новгород</a>
          </li>
          <li>
            <span></span>
            <a href="#" data-dismiss="modal">Владивосток</a>
          </li>
          <li>
            <span></span>
            <a href="#" data-dismiss="modal">Волгоград</a>
          </li>
          <li>
            <span></span>
            <a href="#" data-dismiss="modal">Воронеж</a>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Price Modal -->
<div class="modal fade" id="priceModal" tabindex="-1" role="dialog" aria-labelledby="priceModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="priceModalCenterTitle">Предложите свою цену</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="ownPrice" required placeholder="Цена (руб)">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="name" required placeholder="Имя">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" id="phone" required placeholder="Телефон">
          </div>
          <p class="callback__disclaimer modal_disclamer">Отправляя заявку вы соглашаетесь на обработку <a href="#" class="callback__link">персональных данных</a></p>
          <button type="submit" class="btn btn_red btn_red_light">Предложить</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Authenticate modal -->
<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="authModalCenterTitle">Войти в личный кабинет</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="login" required placeholder="Логин">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" required placeholder="Пароль">
          </div>
          <button type="submit" class="btn btn_red btn_red_light">Войти</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Estate Agent modal -->
<div class="modal fade" id="agentModal" tabindex="-1" role="dialog" aria-labelledby="agentModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agentModalCenterTitle">Связаться с риэлтором</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="name" required placeholder="Введите имя">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" id="phone" required placeholder="Введите телефон">
          </div>
          <p class="callback__disclaimer modal_disclamer">Отправляя заявку вы соглашаетесь на обработку <a href="#" class="callback__link">персональных данных</a></p>
          <button type="submit" class="btn btn_red btn_red_light">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Property Report modal -->
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reportModalCenterTitle">Укажите причину жалобы</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="reason1" id="reason1" value="option1">
            <label class="form-check-label" for="reason1">
              Невозможно связаться
            </label>
            <small class="text-muted">
              Телефон агента всегда недоступен или телефон отсутствует
            </small>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="reason2" id="reason2" value="option2">
            <label class="form-check-label" for="reason2">
              Невозможно посмотреть
            </label>
            <small class="text-muted">
              Агент не может организовать показ более 2 рабочих дней
            </small>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="reason3" id="reason3" value="option3">
            <label class="form-check-label" for="reason3">
              Неверная цена
            </label>
            <small class="text-muted">
              Цена отличается от указанной в объявлении
            </small>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="reason4" id="reason4" value="option4">
            <label class="form-check-label" for="reason4">
              Неверный адрес
            </label>
            <small class="text-muted">
              Объект располагается по другому адресу
            </small>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="reason5" id="reason5" value="option5">
            <label class="form-check-label" for="reason5">
              Другая ошибка в данных
            </label>
            <small class="text-muted">
              Фотография, площадь или другой параметр указаны неверно
            </small>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="reason6" id="reason6" value="option6">
            <label class="form-check-label" for="reason6">
              Предложение неактуально
            </label>
            <small class="text-muted">
              Объект уже продан или снят с продажи
            </small>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="reason7" id="reason7" value="option7">
            <label class="form-check-label" for="reason7">
              Другая проблема
            </label>
            <small class="text-muted">
              Укажите в примечании
            </small>
          </div>
          <div class="form-group">
            <label for="note">Примечание</label>
            <textarea class="form-control" id="note" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn_red btn_red_light">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</div>
