<header>
  <div class="header_desktop d-none d-lg-block">
    <div class="container">
      <div class="header__top">
        <div class="headerCity">
          <span class="headerCity__span">Город:</span>
          <button type="button" class="headerCity__dropdownBtn" data-toggle="modal" data-target="#cityModal">
            Санкт-Петербург
          </button>
        </div>
        <ul class="nav navTop">
          <li class="nav-item navTop__item">
            <div class="dropdown headerCity__dropdown">
              <button class="dropdown-toggle navTop__link headerCity__dropdownBtn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                О компании
              </button>
              <div class="dropdown-menu headerCity__dropdownMenu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item headerCity__dropdownItem" href="#">О нас</a>
                <a class="dropdown-item headerCity__dropdownItem" href="#">Новости</a>
                <a class="dropdown-item headerCity__dropdownItem" href="#">Руководство</a>
                <a class="dropdown-item headerCity__dropdownItem" href="#">Миссия</a>
                <a class="dropdown-item headerCity__dropdownItem" href="#">Почему мы?</a>
                <a class="dropdown-item headerCity__dropdownItem" href="#">Сотрудники</a>
                <a class="dropdown-item headerCity__dropdownItem" href="#">Пресс-центр</a>
                <a class="dropdown-item headerCity__dropdownItem" href="#">Форум</a>
              </div>
            </div>
          </li>
          <li class="nav-item navTop__item">
            <div class="dropdown headerCity__dropdown">
              <button class="dropdown-toggle navTop__link headerCity__dropdownBtn" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Услуги
              </button>
              <div class="dropdown-menu headerCity__dropdownMenu" aria-labelledby="dropdownMenuButton1">
                <a class="dropdown-item headerCity__dropdownItem" href="#">Купить</a>
                <a class="dropdown-item headerCity__dropdownItem" href="#">Продать</a>
                <a class="dropdown-item headerCity__dropdownItem" href="#">Снять</a>
                <a class="dropdown-item headerCity__dropdownItem" href="#">Сдать</a>
                <a class="dropdown-item headerCity__dropdownItem" href="#">Оценить</a>
                <a class="dropdown-item headerCity__dropdownItem" href="#">Стоимость услуг</a>
                <a class="dropdown-item headerCity__dropdownItem" href="#">Специализации</a>
                <a class="dropdown-item headerCity__dropdownItem" href="#">Обучение</a>
                <a class="dropdown-item headerCity__dropdownItem" href="#">Брокеридж</a>
                <a class="dropdown-item headerCity__dropdownItem" href="#">Управление</a>
              </div>
            </div>
          </li>
          <li class="nav-item navTop__item">
            <a href="#" class="nav-link navTop__link">Вакансии</a>
          </li>
          <li class="nav-item navTop__item">
            <a href="#" class="nav-link navTop__link">Франшиза</a>
          </li>
          <li class="nav-item navTop__item">
            <a href="#" class="nav-link navTop__link">Контакты</a>
          </li>
        </ul>
        <div class="bestbadge">
          {{mixins.icon('medal')}}
          <p class="bestbadge__text">Лучшая брокерская компания</p>
        </div>
      </div>
      <div class="header__middle">
        <a href="index.html" class="headerLogo">
          <div class="headerLogo__wrap">
            <p class="headerLogo__arr">АРР</p>
            <div class="headerLogo__divider"></div>
            <p class="headerLogo__text">
              Агентство <br/>
              Регионального <br/>
              Развития
            </p>
          </div>
        </a>
        <div class="headerPhone">
          <p class="headerPhone__text">
            {{mixins.icon('phone')}} Звоните нам с 9:00 до 18:00
          </p>
          <a href="tel:+78162909201" class="headerPhone__big">
            +7 (8162) 90-92-01
          </a>
        </div>
        <div class="navChosen nav">
          <li class="nav-item navChosen__item">
            <a href="#" class="nav-link navChosen__link navChosen__link_badge">
              Избранное
            </a>
          </li>
          <li class="nav-item navChosen__item">
            <a href="#" class="nav-link navChosen__link">
              Подписки
            </a>
          </li>
        </div>
        <div class="header__authentificate">
          <button class="btn-outline-dark btn btnOutline btnOutline_red">Зарегистрироваться</button>
          <button class="btn-outline-dark btn btnOutline btnOutline_red" data-toggle="modal" data-target="#authModal">Войти</button>
        </div>
      </div>
    </div>
    <div class="header__bottom">
      <div class="container">
        <ul class="nav navBottom">
          <li class="nav-item navBottom__item">
            <a href="#" class="nav-link navBottom__link"><span>Главная</span></a>
          </li>
          <li class="nav-item navBottom__item active">
            <a class="nav-link navBottom__link"><span>Коммерческая недвижимость</span></a>
            <div class="navBottom__dropdown">
              <div class="navDropdown__menuWrap">
                <div class="navDropdown__cols navDropdown__cols_wide">
                  <p class="navDropdown__title">Продажа</p>
                  <ul class="navDropdown__menu navDropdown__menu_wide nav">
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Офис</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Торговое помещение</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Офис</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Торговое помещение</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Офис</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Торговое помещение</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Офис</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Торговое помещение</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Офис</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Торговое помещение</a>
                    </li>
                  </ul>
                </div>
                <div class="navDropdown__cols">
                  <p class="navDropdown__title">Аренда</p>
                  <ul class="navDropdown__menu nav">
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Офис</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Торговое помещение</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Офис</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Торговое помещение</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Офис</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="navDropdown__offer">
                <p class="navDropdown__offerTitle">Специальные<br/> условия<br/> по ипотечному<br/> кредитованию</p>
                <a href="#" class="navDropdown__offerLink">Подробнее</a>
              </div>
            </div>
          </li>
          <li class="nav-item navBottom__item">
            <a class="nav-link navBottom__link"><span>Коммерческая недвижимость</span></a>
            <div class="navBottom__dropdown">
              <div class="navDropdown__menuWrap">
                <div class="navDropdown__cols navDropdown__cols_wide">
                  <p class="navDropdown__title">Продажа</p>
                  <ul class="navDropdown__menu navDropdown__menu_wide nav">
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Офис</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Торговое помещение</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Офис</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Торговое помещение</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Офис</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Торговое помещение</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Офис</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Торговое помещение</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Офис</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Торговое помещение</a>
                    </li>
                  </ul>
                </div>
                <div class="navDropdown__cols">
                  <p class="navDropdown__title">Аренда</p>
                  <ul class="navDropdown__menu nav">
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Офис</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Торговое помещение</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Офис</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Торговое помещение</a>
                    </li>
                    <li class="nav-item navDropdown__item">
                      <a href="#" class="nav-link navDropdown__link">Офис</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="navDropdown__offer">
                <p class="navDropdown__offerTitle">Специальные<br/> условия<br/> по ипотечному<br/> кредитованию</p>
                <a href="#" class="navDropdown__offerLink">Подробнее</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="header_mobile d-block d-lg-none">
    <div class="headerMob">
      <a href="index.html" class="headerLogo">
        <div class="headerLogo__wrap">
          <p class="headerLogo__arr">АРР</p>
        </div>
      </a>
      <div class="headerMob__icons">
        <a href="#" class="headerMob__icon headerMob__icon_hidden">
          {{mixins.icon('location')}}
        </a>
        <a href="#" class="headerMob__icon headerMob__icon_hidden">
          {{mixins.icon('heart')}}
        </a>
        <a href="#" class="headerMob__icon headerMob__icon_hidden">
          {{mixins.icon('user')}}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          {{mixins.icon('menu')}}
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse headerMob__collapse" id="navbarSupportedContent">
      <div class="headerCity">
        {{mixins.icon('location_solid')}}
        <button type="button" class="headerCity__dropdownBtn" data-toggle="modal" data-target="#cityModal">
          Санкт-Петербург
        </button>
      </div>
      <p class="headerMob__address">Проспект Мира, 32 к1.</p>
      <div class="header__authentificate">
        <button class="btn-outline-light btnOutline_white btn header__btn">Зарегистрироваться</button>
        <button class="btn-outline-light btnOutline_white btn header__btn" data-toggle="modal" data-target="#authModal">Войти в личный кабинет</button>
      </div>
      <div class="accordion headerAccordion" id="headerAccordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Коммерческая недвиж.
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#headerAccordion">
            <div class="card-body">
              <ul class="subNav nav">
                <li class="nav-item nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Офис</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Торговое помещение</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Свободное назначение</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Готовый бизнес</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Производство</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Базы</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Склады</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Земельные участки</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Зепля под производства</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Фермы</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                Готовый бизнес
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#headerAccordion">
            <div class="card-body">
              <ul class="subNav nav">
                <li class="nav-item nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Офис</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Торговое помещение</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Свободное назначение</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Готовый бизнес</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Производство</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Базы</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Склады</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Земельные участки</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Зепля под производства</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Фермы</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                Арендный бизнес
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#headerAccordion">
            <div class="card-body">
              <ul class="subNav nav">
                <li class="nav-item nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Офис</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Торговое помещение</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Свободное назначение</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Готовый бизнес</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Производство</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Базы</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Склады</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Земельные участки</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Зепля под производства</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Фермы</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                Брокеридж
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#headerAccordion">
            <div class="card-body">
              <ul class="subNav nav">
                <li class="nav-item nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Офис</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Торговое помещение</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Свободное назначение</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Готовый бизнес</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Производство</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Базы</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Склады</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Земельные участки</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Зепля под производства</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Фермы</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h5 class="mb-0">
              <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                Управление
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#headerAccordion">
            <div class="card-body">
              <ul class="subNav nav">
                <li class="nav-item nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Офис</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Торговое помещение</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Свободное назначение</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Готовый бизнес</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Производство</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Базы</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Склады</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Земельные участки</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Зепля под производства</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Фермы</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSix">
            <h5 class="mb-0">
              <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">О компании</button>
            </h5>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#headerAccordion">
            <div class="card-body">
              <ul class="subNav nav">
                <li class="nav-item nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Офис</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Торговое помещение</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Свободное назначение</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Готовый бизнес</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Производство</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Базы</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Склады</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Земельные участки</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Зепля под производства</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Фермы</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
              <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">Услуги</button>
            </h5>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#headerAccordion">
            <div class="card-body">
              <ul class="subNav nav">
                <li class="nav-item nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Офис</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Торговое помещение</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Свободное назначение</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Готовый бизнес</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Производство</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Базы</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Склады</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Земельные участки</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Зепля под производства</a>
                </li>
                <li class="nav-item subNav__item">
                  <a href="#" class="mav-link subNav__link">Фермы</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navChosen nav">
        <li class="nav-item navChosen__item">
          <a href="#" class="btnOutline btnOutline_white nav-link navChosen__link">
            Избранное (<span class="navChosen__favNum">12</span>)
          </a>
        </li>
        <li class="nav-item navChosen__item">
          <a href="#" class="btnOutline btnOutline_white nav-link navChosen__link">
            Подписки
          </a>
        </li>
      </div>
      <a href="#" class="headerMob__desktop">Перейти к полной версии</a>
    </div>
  </div>
</header>
