
  <div class="news__wrap">
    <div class="news__item">
      <p class="news__date">27 июня 2018</p>
      <a href="#" class="news__title">День Рождения АРР!</a>
      <p class="news__text">12 июня Центральный офис «Агентство Регионального Развития» в Великом Новгороде отметил свой очередной день рождения!</p>
    </div>
    <div class="news__item">
      <p class="news__date">25 июня 2018</p>
      <a href="#" class="news__title">Коллеги из Барнаула прошли обучение в АРР</a>
      <p class="news__text">В прошедшую пятницу 22 июня завершили обучение представители компании АН «МИЭЛЬ» из города Барнаул</p>
    </div>
    <div class="news__item">
      <p class="news__date">20 июня 2018</p>
      <a href="#" class="news__title">Новая концепция эффективного обучения партнёров!</a>
      <p class="news__text">12 июня Центральный офис «Агентство Регионального Развития» в Великом Новгороде отметил свой очередной день рождения!</p>
    </div>
    <div class="news__item">
      <p class="news__date">27 июня 2018</p>
      <a href="#" class="news__title">День Рождения АРР!</a>
      <p class="news__text">12 июня Центральный офис «Агентство Регионального Развития» в Великом Новгороде отметил свой очередной день рождения!</p>
    </div>
  </div>
