<div class="offices">
  <div class="office__item">
    <p class="office__type defaultTag">Коммерческая недвижимость</p>
    <div class="office__desc">
      <div class="office__main">
        <p class="office__title">Консультант, Андрей Рождественский</p>
        <p class="office__mainInfo"><span class="office__mainInfo_count bold">423 объекта</span> недвижимости в Волгограде</p>
      </div>
      <div class="office__main">
        <p class="office__address">Волгоград, улица</p>
        <p class="office__hours">Пн.-Пт.</p>
        <a href="#" class="office__team">Команда офиса</a>
      </div>
      <div class="office__contacts">
        <a href="tel:+79179252459" class="office__phone">+7 (917) 925-24-59</a>
        <a href="mailto:example@example.ru" class="office__email">example@example.ru</a>
        <a href="#" class="office__map">Показать на карте</a>
      </div>
    </div>
  </div>
  <div class="office__item">
    <p class="office__type defaultTag">Коммерческая недвижимость</p>
    <div class="office__desc">
      <div class="office__main">
        <p class="office__title">Консультант, Андрей Рождественский</p>
        <p class="office__mainInfo"><span class="office__mainInfo_count bold">423 объекта</span> недвижимости в Волгограде</p>
      </div>
      <div class="office__main">
        <p class="office__address">Волгоград, улица</p>
        <p class="office__hours">Пн.-Пт.</p>
        <a href="#" class="office__team">Команда офиса</a>
      </div>
      <div class="office__contacts">
        <a href="tel:+79179252459" class="office__phone">+7 (917) 925-24-59</a>
        <a href="mailto:example@example.ru" class="office__email">example@example.ru</a>
        <a href="#" class="office__map">Показать на карте</a>
      </div>
    </div>
  </div>
  <div class="office__item">
    <p class="office__type defaultTag">Коммерческая недвижимость</p>
    <div class="office__desc">
      <div class="office__main">
        <p class="office__title">Консультант, Андрей Рождественский</p>
        <p class="office__mainInfo"><span class="office__mainInfo_count bold">423 объекта</span> недвижимости в Волгограде</p>
      </div>
      <div class="office__main">
        <p class="office__address">Волгоград, улица</p>
        <p class="office__hours">Пн.-Пт.</p>
        <a href="#" class="office__team">Команда офиса</a>
      </div>
      <div class="office__contacts">
        <a href="tel:+79179252459" class="office__phone">+7 (917) 925-24-59</a>
        <a href="mailto:example@example.ru" class="office__email">example@example.ru</a>
        <a href="#" class="office__map">Показать на карте</a>
      </div>
    </div>
  </div>
</div>
