<div class="successSlider__wrap">
  <div class="successSlider" id="successSlider">
    <div class="successSlider__slide">
      <div class="successSlider__item">
        <div class="successSlider__img">
          <img src="img/staff.png" alt="">
        </div>
        <div class="successSlider__desc">
          <p class="successSlider__name">Сауков Антон</p>
          <p class="successSlider__position">Руководитель отдела, 7 лет в компании, начинал с должности «Специалист по недвижимости»</p>
          <p class="successSlider__feedback">По первому образованию я автослесарь. Закончил автомобильную академию и еще несколько учебных заведений. До «Этажей» работал в администрации города в отделе капитального строительства. В компанию пришел в 2011 году как риэлтор. Оказалось, что эта специальность и прибыльная, и очень интересная. Мне всегда нравилось работать с людьми, поэтому помочь семье подобрать новый дом  — это сделать доброе дело. Затем в компании появилась вакансия руководителя Центра загородной недвижимости. Я сразу заявился, сделал презентацию, разработал план по развитию, защитился и вступил в должность. Могу сказать, что все желания и планы можно реализовать. Главное, не бойтесь меняться и идти к своей мечте.</p>
        </div>
      </div>
    </div>
    <div class="successSlider__slide">
      <div class="successSlider__item">
        <div class="successSlider__img">
          <img src="img/staff.png" alt="">
        </div>
        <div class="successSlider__desc">
          <p class="successSlider__name">Сауков Антон</p>
          <p class="successSlider__position">Руководитель отдела, 7 лет в компании, начинал с должности «Специалист по недвижимости»</p>
          <p class="successSlider__feedback">По первому образованию я автослесарь. Закончил автомобильную академию и еще несколько учебных заведений. До «Этажей» работал в администрации города в отделе капитального строительства. В компанию пришел в 2011 году как риэлтор. Оказалось, что эта специальность и прибыльная, и очень интересная. Мне всегда нравилось работать с людьми, поэтому помочь семье подобрать новый дом  — это сделать доброе дело. Затем в компании появилась вакансия руководителя Центра загородной недвижимости. Я сразу заявился, сделал презентацию, разработал план по развитию, защитился и вступил в должность. Могу сказать, что все желания и планы можно реализовать. Главное, не бойтесь меняться и идти к своей мечте.</p>
        </div>
      </div>
    </div>
    <div class="successSlider__slide">
      <div class="successSlider__item">
        <div class="successSlider__img">
          <img src="img/staff.png" alt="">
        </div>
        <div class="successSlider__desc">
          <p class="successSlider__name">Сауков Антон</p>
          <p class="successSlider__position">Руководитель отдела, 7 лет в компании, начинал с должности «Специалист по недвижимости»</p>
          <p class="successSlider__feedback">По первому образованию я автослесарь. Закончил автомобильную академию и еще несколько учебных заведений. До «Этажей» работал в администрации города в отделе капитального строительства. В компанию пришел в 2011 году как риэлтор. Оказалось, что эта специальность и прибыльная, и очень интересная. Мне всегда нравилось работать с людьми, поэтому помочь семье подобрать новый дом  — это сделать доброе дело. Затем в компании появилась вакансия руководителя Центра загородной недвижимости. Я сразу заявился, сделал презентацию, разработал план по развитию, защитился и вступил в должность. Могу сказать, что все желания и планы можно реализовать. Главное, не бойтесь меняться и идти к своей мечте.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="successSlider__pagination">
    <button class="successSlider__btn successSlider_prev">
      {{mixins.icon('prev_bold')}}
    </button>
    <div class="successSlider__paging"></div>
    <button class="successSlider__btn successSlider_next">
      {{mixins.icon('next_bold')}}
    </button>
  </div>
</div>
