<div class="teamSlider__wrap">
  <div class="teamSlider" id="teamSlider">
    <div class="teamSlider__item"><img src="img/team.jpg" alt=""></div>
    <div class="teamSlider__item"><img src="img/team.jpg" alt=""></div>
    <div class="teamSlider__item"><img src="img/team.jpg" alt=""></div>
    <div class="teamSlider__item"><img src="img/team.jpg" alt=""></div>
    <div class="teamSlider__item"><img src="img/team.jpg" alt=""></div>
    <div class="teamSlider__item"><img src="img/team.jpg" alt=""></div>
    <div class="teamSlider__item"><img src="img/team.jpg" alt=""></div>
  </div>
  <div class="teamSlider__arrows">
    <div class="container">
      <button class="teamSlider__btn arrow-prev">
        {{mixins.icon('arrow_prev')}}
      </button>
      <button class="teamSlider__btn arrow-next">
        {{mixins.icon('arrow_next')}}
      </button>
    </div>
  </div>
</div>
