.form-row > .col, .form-row > [class*="col-"]
	padding-right: 1px
	padding-left: 1px

.custom-select, .input-group, .form-control,
	border-radius: 0
	width: unset
	background-color: #f4f4f4
	border-color: #fff
	height: 50px
	+r(1199)
		font-size: 13px

.form-row
	flex-wrap: unset
	margin-right: unset
	margin-left: unset
	width: 100%

.form-group
	margin-bottom: 0

.custom-select
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23ff2143' d='M2 5L0 3h4z'/%3E%3C/svg%3E")
	background-size: 8px 10px
	background-position: calc(100% - 10px) 40%

.formCol25
	width: 25%
	text-align: left
	+r(991)
		width: 50%

	+r(575)
		width: 100%

.formCol33
	width: 33.33%
	text-align: left

	+r(991)
		width: 50%

	+r(575)
		width: 100%

#priceGroup
	// width: 28%
	// width: 25%
	&:before
		content: 'Р'
		color: $redLight
		position: absolute
		right: 16px
		top: 16px
		z-index: 10
	+r(991)
		// width: 39%
		// width: 50%
		border-top-right-radius: 6px
		overflow: hidden
	+r(575)
		// width: 100%
		border-top-right-radius: 0

#propertyType
	// width: 22%
	// width: 25%
	+r(991)
		// width: 41%
	// 	width: 50%
	// +r(575)
	// 	width: 100%

#sizeGroup
	// width: 18%
	// width: 25%
	&:before
		content: 'м2'
		color: $redLight
		position: absolute
		right: 16px
		top: 16px
		z-index: 10
	+r(991)
		// width: 39%
	// 	width: 50%
	// +r(575)
	// 	width: 100%

#priceGroup, #sizeGroup
	position: relative
	input
		&:first-child
			width: 45%
			border-right: none

		&:last-child
			width: 55%
			border-left: none

	&:after
		height: 30px
		width: 1px
		background-color: rgba(0, 0, 0, 0.25)
		position: absolute
		content: ''
		left: 44%
		top: 10px
		z-index: 10

#addressGroup
	position: relative
	// width: 21%
	// width: 25%
	label
		position: absolute
		font-size: 12px
		color: $redLight
		font-weight: bold
		padding: 5px 13px

	input
		padding-top: 20px
		border-top-right-radius: 6px
		width: 100%

	+r(991)
		input
			border-top-right-radius: 0

	+r(575)
		width: 100%

.dealType
	border-top-left-radius: 6px
	+r(575)
		border-top-right-radius: 6px

#searchGroup
	width: 100%
	position: relative

	label
		position: absolute
		top: 11px
		left: 15px

		.icon
			fill: $redLight
			font-size: 20px

	input
		padding-left: 70px
		border-radius: 0 0 6px 6px
		width: 100%
		+r(767)
			padding-left: 50px

#memberType
	width: 28%
	+r(575)
		width: 100%

#memberSearchGroup
	width: 72%
	position: relative

	label
		position: absolute
		top: 11px
		left: 15px

		.icon
			fill: $redLight
			font-size: 20px

	input
		padding-left: 70px
		width: 100%

	+r(575)
		width: 100%

		input
			padding-left: 50px

.form-control:focus, .custom-select:focus
	background-color: #f4f4f4
	border-color: #fff
	border-left-color: #fff
	outline: 0
	box-shadow: unset

.filter
	padding: 15px 0 30px

	&__nav
		flex-direction: column
		a
			color: #000
			&:hover,
			&:focus
				color: $redLight

	&__btns
		text-align: right
		margin-top: 30px
		+r(575)
			width: 100%
			display: flex
			flex-direction: column

	&__title
		font-size: 28px
		margin-top: 2rem
		margin-bottom: .25rem
		+r(1199)
			font-size: 24px

	&__wrap
		padding: 10px 0
		+r(991)
			.form-row
				flex-wrap: wrap

	&__epTitle
		font-weight: normal
		margin-bottom: 1rem

	&__epList
		column-count: 5
		padding: 10px 0
		+r(991)
			column-count: 4
		+r(767)
			column-count: 2

	&__epLink
		color: #000
		display: block
		padding: 6px 0
		font-size: 16px
		&:hover,
		&:focus,
		&:active
			color: $redLight
			text-decoration: underline
		+r(1199)
			font-size: 14px

	&_left
		border-radius: 6px 0 0 6px

	&_right
		border-radius: 0 6px 6px 0

		input
			border-radius: 0 6px 6px 0

	.form-group
		input:not(.form-check-input)
			width: 100%

	.form-check
		padding-left: 1.5rem

	button.form-control
		text-overflow: ellipsis
		display: block
		overflow: hidden
		white-space: nowrap

.form-row
	flex-wrap: wrap


.mobileCats
	display: flex
	flex-wrap: wrap
	justify-content: center
	margin-top: 20px

	&__item
		height: 100px
		border-radius: 6px
		background-color: #f4f4f4
		display: flex
		flex-direction: column
		padding: 15px
		width: calc(33% - 2px)
		margin: 3px 2px
		align-items: center
		text-align: center
		min-width: 130px
		color: #000

		.icon
			font-size: 40px
			fill: $redLight
			margin-bottom: 5px

		&:hover
			color: #000

	&__type
		margin-bottom: 0

.btn-group
	.dropdown-toggle
		width: 100%
		text-align: left
		padding-right: 2rem
		&:after
			border-top: .3em solid $redLight
			position: absolute
			right: 10px
			top: calc(50% - 2px)
	.dropdown-menu a
		padding: 5px 10px
		color: #000
		display: block
		&:hover,
		&:focus,
		&:active
			color: #000
			background-color: #ddd
			text-decoration: none

button.filter__title
	padding: 0
	font-weight: bold
	color: #000
	position: relative

	&:hover,
	&:focus
		color: $redLight

	&:after
		position: absolute
		right: -25px
		top: 45%
