footer
	min-height: 58px
	+r(767)
		padding-bottom: 58px

.footer
	background-color: $redDark
	padding: 45px 0
	font-size: 16px
	color: #fff

	br
		display: none

	&__nav
		flex-direction: column

	&__col
		columns: 2
		max-height: 200px

	&__title
		font-size: 18px
		font-weight: bold

	&__navLink
		padding: .5rem 0

	a
		color: #fff
		&:focus,
		&:active,
		&:hover
			color: #fff
			text-decoration: underline

	&__middle,
	&__bottom
		display: flex
		justify-content: space-between

		p
			margin-bottom: .5rem

		+r(991)
			flex-direction: column
			text-align: center

			p
				margin-bottom: 1rem

	&__middle
		margin-bottom: 40px

	&__bottom
		p, a
			opacity: 0.5

		a
			text-decoration: underline
			&:focus,
			&:active,
			&:hover
				opacity: 1

	&__soc
		display: flex
		justify-content: space-around
		width: 100%

		&_light
			max-width: 205px
			.footer__socIcon
				border: solid 1px rgba(255, 33, 67, 0.4)
				margin-bottom: 0

				.icon
					fill: $redLight

				&:hover,
				&:focus,
				&:active
					border-color: $redLight
					background-color: $redLight

					.icon
						fill: #fff

	&__socIcon
		height: 40px
		width: 40px
		border-radius: 50%
		border: 1px solid rgba(225, 225, 225, 0.5)
		display: flex
		justify-content: center
		align-items: center
		margin-right: 5px
		margin-bottom: 15px

		.icon
			font-size: 22px

		&:hover,
		&:focus,
		&:active
			border-color: #fff
			background-color: #fff

			.icon
				fill: $redLight

	&__hr
		background-color: rgba(255, 255, 255, 0.15)
		margin: 40px 0

	&__desktop
		display: none

	&__links
		max-width: 240px

	+r(1199)
		&__text, &__copy, &__policy, &__navLink
			font-size: 14px

		&__title
			font-size: 16px

	+r(991)
		&__hr
			display: none

		br
			display: block

		&__soc
			margin: 15px 0

		&__desktop
			display: block
			margin-top: 20px

		&__links
			margin: auto

.fscroll
	display: flex
	justify-content: space-around
	background-color: #ff2143
	position: fixed
	bottom: 0
	width: 100%

	&__item
		text-align: center
		padding: 8px
		&:hover,
		&:focus
			color: #fff
			text-decoration: underline

	.icon
		font-size: 18px
		margin-bottom: 5px

	&__title
		margin: 0
		color: #fff
