header
	min-height: 58px

.headerCity
	&__dropdownBtn
		border: none
		background-color: transparent
		&:after
			border-top: .3em solid $redLight
			vertical-align: 0.155em
		+r(991)
			color: #fff
			text-decoration: underline
			&:after
				border-top: .3em solid #fff

	.icon
		fill: $redLight
		+r(991)
			fill: #fff
			font-size: 23px

	&__span
		color: rgba(0, 0, 0, 0.5)

	&_red
		+r(991)
			margin-top: 20px

			.headerCity__dropdownBtn
				color: $red

			.icon
				fill: $red

.header
	&__top,
	&__middle,
	&__bottom
		display: flex
		justify-content: space-between

	&__top
		letter-spacing: 0.5px
		margin-bottom: 7px

	&__middle
		align-items: center
		margin-bottom: 18px

	&__bottom
		background-color: #e9e7e4

	&_mobile
		position: fixed
		top: 0
		width: 100%
		z-index: 1000

	+r(991)
		&__authentificate
			margin-bottom: 20px
			display: flex
			flex-wrap: wrap
			max-width: 630px
			margin: auto
			justify-content: space-between

		&__btn
			margin-bottom: 10px
			max-width: 300px
			width: 100%

	+r(767)
		&__authentificate
			align-items: center
			flex-direction: column

.headerCity
	display: flex
	align-items: center
	+r(991)
		justify-content: center

.navTop
	&__item
		display: flex
		align-items: center

	&__link
		color: #000
		&:hover,
		&:focus,
		&:active
			color: $redLight
			outline: none

.bestbadge
	background-color: $redLight
	border-radius: 0 0 6px 6px
	padding: 10px 38px 13px 22px
	color: #fff
	display: flex
	align-items: center
	+r(1199)
		padding: 10px 15px 13px

	&__text
		margin: 3px 0 0 5px

	.icon
		font-size: 28px

.headerPhone
	.icon
		fill: $redLight

	p
		margin-bottom: 0

	&__big
		font-weight: bold
		font-size: 25px
		color: #000
		&:hover,
		&:focus,
		&:active
			color: $redLight
			text-decoration: none
		+r(1199)
			font-size: 24px

	&__text
		font-size: 16px
		+r(1199)
			font-size: 14px

.navChosen
	flex-direction: column
	font-size: 16px
	margin-right: 30px

	&__item
		display: block

	&__link
		padding: 0
		color: #000
		&:hover,
		&:focus,
		&:active
			color: $redLight
			outline: none
		&_badge
			position: relative

			&:after
				position: absolute
				content: '12'
				height: 25px
				width: 25px
				color: #fff
				display: flex
				justify-content: center
				align-items: center
				border-radius: 50%
				background-color: $redLight
				top: -13px
				right: -20px
				font-size: 12px

	+r(991)
		margin-bottom: 30px
		display: flex
		flex-wrap: wrap
		max-width: 630px
		margin: auto
		justify-content: space-between
		flex-direction: row

		&__item
			max-width: 300px
			width: 100%

		&__link
			display: block
			padding: 7px 22px
			text-align: center
			margin: 5px 0
			color: #fff
			border-radius: 3px

	+r(767)
		flex-direction: column
		justify-content: center
		align-items: center

		&__item
			max-width: 300px
			width: 100%


.navBottom
	position: relative
	height: 50px
	display: flex
	align-items: center
	&__link
		color: #000
		font-size: 16px
		&:hover,
		&:focus,
		&:active,
			color: #fff!important
			outline: none
			cursor: pointer

	&__item
		&:hover,
		&:focus,
		&:active,
		&.active
			.navBottom__link
				color: #fff
				background-color: $redLight
				padding: 20px 1rem
				transform: skew(-15deg)
				margin: -32px 0
				span
					transform: skew(15deg)
					display: block

		&:hover
			& > .navBottom__dropdown
				visibility: visible

	&__dropdown
		position: absolute
		display: flex
		top: 100%
		width: 100%
		z-index: 1000
		background-color: #fff
		left: 0
		visibility: hidden

	&__dropdownWrap
		display: none

.navDropdown
	&__menuWrap
		width: 75%
		padding: 20px 25px
		display: flex
		background-color: #eee

	&__offer
		width: 25%
		background: $red
		padding: 30px 25px

	&__cols
		width: 33%
		&_wide
			width: 67%

	&__menu
		display: block
		padding: 0

		&_wide
			column-count: 2
			column-gap: 15px

	&__title
		color: $red
		font-size: 16px
		font-weight: bold
		margin-bottom: .25rem

	&__link
		padding: .25rem 0
		color: #000
		&:hover,
		&:focus,
		&:active
			color: $redLight
			text-decoration: underline

	&__offerTitle
		font-size: 18px
		color: #fff
		font-weight: bold
		margin-bottom: 2rem

	&__offerLink
		color: #fff
		text-decoration: underline
		&:hover,
		&:focus,
		&:active
			color: #fff

.headerLogo
	color: #000
	&:hover,
	&:focus,
	&:active
		color: #000
		text-decoration: none

	&__wrap
		display: flex
		align-items: center

	&__arr
		color: $redLight
		font-weight: bold
		font-size: 70px
		margin: 0
		+r(1199)
			font-size: 60px
		+r(991)
			font-size: 32px
			color: #fff

	&__divider
		height: 47px
		width: 2px
		background-color: #54575d
		margin: 0 25px
		+r(1199)
			margin: 0 20px

	&__text
		font-size: 16px
		line-height: 18px
		margin: 0
		+r(1199)
			font-size: 14px

.headerMob
	background-color: $redLight
	padding: 5px 15px
	display: flex
	align-items: center
	justify-content: space-between

	&__icon
		margin-left: 5px
		&:hover,
		&:active,
		&:focus
			text-decoration: none

	.icon
		font-size: 20px

	&__collapse
		padding: 20px
		background-color: $redDark
		font-size: 16px
		overflow: auto

	&__address
		color: #fff
		margin: 10px 0 30px
		text-align: center

	&__desktop
		color: #fff
		text-decoration: underline
		text-align: center
		display: block
		padding-bottom: 20px
		&:active,
		&:hover,
		&:focus
			color: #fff


.subNav
	flex-direction: column

	&__item
		padding: .7rem 2rem
		border-bottom: 1px solid rgba(255, 255, 255, 0.1)

.headerAccordion
	margin-bottom: 20px
	max-width: 630px
	margin: auto

.accordion
	.card
		margin-bottom: 5px
		background-color: #c22c3d
		&:first-of-type, &:not(:first-of-type):not(:last-of-type), &:last-of-type
			border-bottom: 0
			border-bottom-right-radius: .25rem
			border-bottom-left-radius: .25rem
			border-top-right-radius: .25rem
			border-top-left-radius: .25rem

	button, a
		color: #fff
		&:hover,
		&:focus,
		&:active
			color: #fff

	.btn-link
		width: 100%
		text-align: left
		padding: 0.5rem 2rem

		&:after
			position: absolute
			width: 0
			height: 0
			margin-left: .255em
			vertical-align: .255em
			content: ""
			border-top: .3em solid #fff
			border-right: .3em solid transparent
			border-bottom: 0
			border-left: .3em solid transparent
			top: 20px
			right: 20px
			opacity: 0.5

	.card-header
		border-bottom: 1px solid rgba(225, 225, 225, 0.1)
		padding: 0

	.card-body
		padding: 0
