.cityModal
	&__modal
		.modal-dialog
			max-width: 680px

		.modal-header
			border-bottom: 0
			padding: 2rem 2rem 0

		.modal-body
			padding: 0 2rem 2rem

	&__columns
		column-count: 3
		padding: 0
	    margin-top: 10px

		li
			list-style-type: none
			overflow: hidden
			&.hidden
				display: none

			span
				float: left
				min-width: 25px
				height: 25px

			a
				float: left
				color: #000
				&:hover,
				&:focus
					color: $redLight

		+r(565)
			column-count: 2

		+r(400)
		 	column-count: 1

	&__letterWrap
		display: flex

	&__letter
		width: 25px

	&__letterList
		width: calc(100% - 25px)
		a
			display: block
			color: #000000

	&__text
		margin: 0

	&__search
		margin: 20px 0
		width: 100%

.modal
	input:not([type="radio"])
		width: 100%
		margin-bottom: 10px

	.form-check
		padding-left: 35px

	.form-check-input
		margin-left: -2rem

	small
		display: block
		margin-bottom: 10px

	textarea
		width: 100%
		margin-bottom: 10px

	button[type="submit"]
		min-width: 200px

	&_disclamer
		margin-bottom: 10px
