.props
	&__item
		display: flex
		border: 2px solid rgba(139, 22, 44, 0.1)
		margin-bottom: 20px
		min-height: 275px
		&:hover,
		&:focus
			box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.15)
			border-color: transparent

	&__img
		width: 32%
		background-position: center
		background-size: cover

		img
			width: 100%

	&__icons
		text-align: right
		padding: 15px

	&__imgBtn
		height: 36px
		width: 36px
		border: 2px solid #fff
		border-radius: 50%
		opacity: 0.6
		padding: 0
		margin-left: 10px
		&:hover,
		&:focus,
		&:active
			opacity: 1

		.icon
			font-size: 17px

	&__desc
		width: 68%
		padding: 20px 25px

	&__header
		display: flex
		justify-content: space-between
		margin-bottom: 10px

	&__tags
		display: flex
		flex-wrap: wrap

	&__tag
		margin-right: 10px
		margin-bottom: 8px

	&__title
		font-size: 21px
		letter-spacing: 0.8px
		font-weight: bold
		margin-bottom: 0
		max-height: 32px
		text-overflow: ellipsis
		overflow: hidden
		white-space: nowrap

	&__address
		font-size: 16px
		text-decoration: underline
		margin-bottom: 0
		color: #000
		&:hover,
		&:focus,
		&:active
			color: $redLight

		.icon
			fill: #c22c3d

	&__headerRight
		width: 220px
		p
			margin-bottom: 0
			text-align: right

	&__headerLeft
		max-width: calc(100% - 220px)


	&__oldPrice
		font-size: 21px
		text-decoration: line-through
		letter-spacing: 0.8px
		&_vertical
			display: none

	&__price
		font-size: 22px
		letter-spacing: 1px
		color: $redDark
		font-weight: bold

	&__priceForM
		font-size: 16px

	&__text
		hyphens: auto
		letter-spacing: 0.4px
		height: 87px
		overflow: hidden

	&__more
		color: #000
		text-decoration: underline
		&:hover,
		&:focus,
		&:active
			color: $redLight

	&__redLink
		color: #c22c3d
		text-decoration: underline
		&:hover,
		&:focus,
		&:active
			color: $redLight

	+r(991)
		// display: flex
		// flex-wrap: wrap
		// justify-content: space-between
		display: grid
		grid-template-columns: repeat(2, 1fr)
		grid-gap: 10px

		.props__item
			flex-direction: column
			// width: 330px

		.props__body
			display: none

		.props__img
			height: 0
			padding-bottom: 74%
			width: 100%

		.props__desc
			width: 100%
			padding: 20px 15px

		.props__header
			flex-direction: column
			margin-bottom: 0

		.props__footer
			display: none

		.props__title
			font-size: 18px
			white-space: normal
			overflow: unset
			text-overflow: unset
			max-height: unset

		.props__headerLeft
			max-width: unset

		.props__price
			font-size: 20px

		.props__oldPrice
			font-size: 16px
			&_vertical
				display: inline-block
				margin-left: 10px
				font-family: "Proxima Nova Regular"
				color: #000

			&_horizontal
				display: none

		.props__headerRight
			p
				text-align: left

	+r(767)
		grid-template-columns: 1fr

		.props__item
			width: 100%

		.props__img
			padding-bottom: 0
			width: 100%
			min-height: 250px

	+r(400)
		.props__img
			min-height: 200px

	&_tiles
		// display: flex
		// flex-wrap: wrap
		// justify-content: space-between
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-gap: 10px

		.props__headerLeft
			max-width: unset

		.props__item
			flex-direction: column
			// width: 32%

		.props__body
			display: none

		.props__img
			height: 0
			padding-bottom: 74%
			width: 100%

		.props__desc
			width: 100%
			padding: 20px 15px

		.props__header
			flex-direction: column
			margin-bottom: 0

		.props__footer
			display: none

		.props__title
			font-size: 18px
			white-space: normal
			overflow: unset
			text-overflow: unset
			max-height: unset

		.props__price
			font-size: 20px

		.props__oldPrice
			font-size: 16px
			&_vertical
				display: inline-block
				margin-left: 10px
				font-family: "Proxima Nova Regular"
				color: #000

			&_horizontal
				display: none

		.props__headerRight
			width: 200px
			p
				text-align: left

.catalog
	&__header
		display: flex
		justify-content: space-between
		align-items: center
		padding: 10px 0
		flex-wrap: wrap

	&__controls
		display: flex
		align-items: center
		+r(991)
			margin-top: 10px

	&__viewType
		.icon
			fill: #E9E7E4
			font-size: 34px
			+r(767)
				font-size: 25px
		&:hover,
		&:focus,
		&:active,
		&.active
			.icon
				fill: $redLight

	&__paging
		font-size: 18px

	&__body
		padding: 30px 0

	&__checkbox
		display: flex
		[type="checkbox"]:not(:checked),
		[type="checkbox"]:checked
			position: absolute
			left: -9999px

		[type="checkbox"]:not(:checked) + label,
		[type="checkbox"]:checked + label
			position: relative
			padding-left: 1.95em
			cursor: pointer

		[type="checkbox"]:not(:checked) + label:before,
		[type="checkbox"]:checked + label:before
			content: ''
			position: absolute
			left: -5px
			top: -3px
			width: 26px
			height: 26px
			border: solid 2px #8b572a
			background: #fff
			border-radius: 50%

		[type="checkbox"]:not(:checked) + label:after,
		[type="checkbox"]:checked + label:after
			content: ''
			height: 10px
			width: 10px
			border-radius: 50%
			background-color: #c22c3d
			position: absolute
			top: calc(50% - 5px)
			left: 3px
			font-size: 1.4em
			line-height: 0.8
			color: #09ad7e
			transition: all .2s
			font-family: Helvetica, Arial, sans-serif

		[type="checkbox"]:not(:checked) + label:after
			opacity: 0
			transform: scale(0)

		[type="checkbox"]:checked + label:after
			opacity: 1
			transform: scale(1)

		+r(767)
			margin: 20px 0

	&__filter
		+r(767)
			width: 100%
			select
				width: 50%

.catalog
	&__viewType
		.icon
			fill: #E9E7E4
			font-size: 34px
			+r(767)
				font-size: 25px
		&:hover,
		&:focus,
		&:active,
		&.active
			.icon
				fill: $redLight

.catalog__viewNoJs
	.icon
		fill: #E9E7E4
		font-size: 34px
		+r(767)
			font-size: 25px
	&:hover
		.icon
			fill: $redLight

.propRight
	p
		margin-bottom: 0

	&__tooltip
		position: relative
		cursor: pointer
		&:hover,
		&:focus,
		&:active
			.propRight__tooltipContent
				display: block

	&__tooltipContent
		position: absolute
		width: 114px
		right: 100%
		padding: 20px
		border-radius: 18px
		border-top-right-radius: 18px
		background-color: #ffffff
		box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.25)
		border-top-right-radius: 0
		display: none

	&__tooltipIcon
		width: 24px
		height: 24px
		background-color: #d8d8d8
		border-radius: 50%
		text-align: center

	&__price
		color: #8b162c
		font-size: 24px
		font-weight: bold

	&__priceForM
		font-size: 18px

	&__size, &__floor
		font-size: 18px
		color: #8b162c
		font-weight: bold

	&__table
		padding: 20px 0
		font-size: 16px

	&__tableRow
		display: flex
		justify-content: space-between
		margin-bottom: 5px

	&__nums
		font-weight: bold

	&__auth
		margin-bottom: 15px!important

	&__btn
		height: 45px
		border-radius: 6px
		background-color: #ff2143
		color: #fff
		width: 100%
		border: 2px solid transparentize
		box-sizing: border-box
		margin-bottom: 15px

		&:hover,
		&:active,
		&:focus
			border: 2px solid rgba(255,33,67,.4)
			color: #000
			background-color: #fff

	&__owner
		margin: 30px 0
		text-align: center
		p
			margin-bottom: 5px

	&__photo
		width: 100%
		display: flex
		justify-content: center
		align-items: center
		margin-bottom: 10px

	&__phone
		color: #ff2143
		font-size: 18px
		font-weight: bold

	.topLinks
		min-height: 40px
		margin-top: 15px
		a
			margin-right: 15px

	+r(991)
		&__price
			margin-bottom: 0

		&__mobileFlex
			display: flex
			justify-content: space-between

			p
				margin-bottom: 0

		&__tableRow
			p
				margin-bottom: 0

.callback
	&__text
		font-size: 14px
		margin-bottom: 15px!important

	&__form
		max-width: 400px
		margin: auto
		input
			width: 100%
			margin-bottom: 10px
			height: 48px
			border-radius: 6px
			background-color: #f4f4f4

	&__disclaimer
		margin-bottom: 0
		font-weight: 300
		line-height: 1.2em
		letter-spacing: .5px
		font-size: 13px
		opacity: 0.5
		a
			color: #000
			&:hover,
			&:focus,
			&:active
				color: $redLight

.propsTable
	font-size: 16px
	column-count: 2
	column-gap: 30px
	margin: 10px 0 30px
	+r(767)
		column-count: 1

	p
		margin-bottom: 0

	&__itemWrap
		display: inline-block
		width: 100%

	&__item
		display: flex
		justify-content: space-between
		border-bottom: 1px solid #eeeae6
		padding: 5px 0
		min-height: 42px

.propsBtns
	margin-bottom: 30px
