.redBlock
	background-color: #8b162c
	background-size: cover!important
	padding: 40px 0
	color: #fff

	+r(767)
		padding: 20px 0

	&__bgConsult
		background: url(../img/bitmap.jpg) no-repeat center
		padding: 50px 0
		.redBlock__title
			margin-bottom: 25px
			+r(1199)
				margin-bottom: 15px

	&__bgArr
		background: url(../img/today_bg.jpg) no-repeat center
		padding: 60px 0 100px
		+r(1199)
			padding: 40px 0 80px
		+r(767)
			padding: 20px 0 0
			background: #8b162c
			.redBlock__wrap_out
				margin: 0 -15px

			.icon
				display: none

	&__bgReady
		background: url(../img/ready.jpg) no-repeat center

	&__center
		text-align: center

	&__margin
		margin: 40px 0
		+r(767)
			margin: 20px 0

	&__marginTop
		margin-top: 40px
		+r(767)
			margin-top: 20px

	&__light
		background-color: #c22c3d

	&__subscribe
		padding: 20px 0
		margin-top: 60px
		.icon
			font-size: 102px

	&__subscribeBtn
		padding: 0 23px!important

	&__wrap
		display: flex
		justify-content: space-between
		align-items: center

		&_out
			margin: -40px 0
			+r(767)
				flex-direction: column
				margin: unset

	p
		margin-bottom: .25rem

	&__title
		font-size: 30px
		font-weight: bold
		letter-spacing: 1.1px
		line-height: 1.2
		+r(1199)
			font-size: 24px

	&__list
		padding: 0

	&__li
		list-style-type: none
		font-size: 18px
		+r(1199)
			font-size: 16px

	&__span
		opacity: 0.5

	&__out
		margin: -40px 0
		background-color: #8b162c
		border-radius: 6px
		box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25)
		padding: 45px 70px
		text-align: center
		max-width: 480px
		+r(1199)
			max-width: 50%
			padding: 45px

		+r(767)
			max-width: unset
			margin: 20px -15px -40px
			box-shadow: none
			padding: 20px
			text-align: left
			border-radius: 0
			background-color: transparent

		+r(500)
			background-color: #8b162c

		p
			font-weight: 300
			line-height: 1.2em
			letter-spacing: 0.5px

		label
			margin-bottom: 0
			color: rgba(255, 255, 255, 0.5)

		.form-group
			border-radius: 6px
			background-color: rgba(255, 255, 255, 0.1)
			padding: 3px 15px
			margin-bottom: 15px

		input
			color: #fff

		form
			margin-top: 20px

	&__outTitle
		font-size: 24px
		font-weight: bold!important

	&__btn
		color: #fff
		width: 100%
		display: block
		margin-bottom: 10px
		.icon
			font-size: 20px
			margin-right: 10px
		&:hover,
		&:active,
		&:focus
			.icon
				fill: $redLight

	&__disclaimer
		opacity: 0.5
		a
			color: #fff
			text-decoration: underline
			&:hover,
			&:focus,
			&:active
				color: $redLight

	&__form
		margin-top: 10px

	&__arrWrap
		display: flex
		align-items: center

		.icon
			font-size: 80px
			fill: #ffffff
			opacity: 0.5
			margin-left: 30px

	&__textArr
		font-size: 72px
		font-weight: bold
		line-height: 1
		margin-bottom: 0

	&__textArrSub
		font-size: 34px
		font-weight: 300
		letter-spacing: 1.3px
		margin-bottom: 0
		line-height: 0.5

	&__outSkew
		background-color: #8b162c
		transform: skew(-15deg)
		margin: -45px -12px -91px 10px
		padding: 73px 0 73px 100px
		width: 70%
		+r(1199)
			margin: -30px 0px -70px 10px
			padding: 50px 0 50px 60px

		+r(767)
			transform: unset
			margin: 20px -31px 0
			padding: 20px
			width: 100%
			background-color: transparent

		+r(565)
			background-color: #8b162c

	&__numWrap
		transform: skew(15deg)
		display: flex
		flex-wrap: wrap
		+r(767)
			transform: unset
			justify-content: center

	&__numItem
		width: 50%
		margin-bottom: 20px
		+r(767)
			min-width: 280px
			text-align: center

	&__numText
		font-size: 18px
		letter-spacing: 1.3px
		+r(1199)
			font-size: 16px

	&__num
		font-size: 36px
		font-weight: bold
		line-height: 1
		+r(1199)
			font-size: 30px

	&__center
		text-align: center

	&__inputGroup
		max-width: 706px
		margin: 35px auto 20px
		border-radius: 6px
		overflow: hidden
		background-color: transparent
		border-color: transparent
		justify-content: center

		.form-group
			background-color: rgba(255,255,255,.1)
			display: flex
			align-items: center
			width: 47%
			padding: 0 20px
			border-radius: 6px 0 0 6px

		.btn_red
			margin-right: 0

		label
			margin-bottom: 0

		input
			color: #fff

		+r(767)
			flex-direction: column
			margin: 20px 0
			height: unset

			.form-group
				width: 100%
				height: 48px
				border-radius: 6px
				margin-bottom: 10px

			.btn_red
				border-radius: 6px

	&__subtitle
		font-size: 21px

.form-group-row
	display: flex
	align-items: center
