.teamSlider
	visibility: hidden
	&.slick-initialized
		visibility: visible

	&__wrap
		position: relative

	&__arrows
		position: absolute
		width: 100%
		top: calc(50% - 25px)

	&__btn
		left: 0

		.icon
			font-size: 50px

	&__item
		padding: 1px

		img
			width: 100%

.arrow-next
	float: right


.successSlider
	padding-bottom: 20px
	visibility: hidden
	&.slick-initialized
		visibility: visible

	&__wrap
		margin-bottom: 30px

	&__paging
		ul
			margin: 0
			padding: 0
			min-width: 50px
			text-align: center

			li
				display: none
				font-size: 21px
				&.slick-active
					display: block

	&__item
		display: flex
		justify-content: space-between
		+r(767)
			flex-direction: column

		p
			margin-bottom: 0.25rem

	&__img
		width: 170px
		height: 170px
		border-radius: 50%
		overflow: hidden

		img
			width: 100%

	&__desc
		width: calc(100% - 200px)
		+r(767)
			width: 100%
			margin-top: 20px

	&__name
		font-size: 21px
		letter-spacing: 0.8px
		font-weight: bold

	&__position
		font-size: 15px
		letter-spacing: 0.5px
		font-weight: bold
		color: $brown

	&__feedback
		line-height: 24px

	&__pagination
		display: flex
		justify-content: flex-end
		align-items: center

	&__btn
		bottom: 57px
		height: 54px
		width: 54px
		border: 2px solid #c22c3d
		border-radius: 50%
		display: flex
		justify-content: center
		align-items: center

		.icon
			font-size: 30px
			fill: #c22c3d

		&.slick-disabled
			opacity: 0.25

	&_next
		left: 320px

.expertsSlider
	visibility: hidden
	&.slick-initialized
		visibility: visible

	&__wrap
		position: relative

	&__item
		display: flex
		flex-wrap: wrap

	&__position
		font-size: 15px
		letter-spacing: 0.5px
		font-weight: bold
		color: $brown

	&__btn
		position: absolute
		bottom: 60px
		height: 94px
		width: 94px
		border: 2px solid $redLight
		border-radius: 50%
		right: calc(33% - 94px)
		display: flex
		justify-content: center
		align-items: center
		z-index: 100

		.icon
			font-size: 60px
			fill: #c22c3d

		&.slick-disabled
			opacity: 0.25

	&_next
		right: calc(33% - 270px)

	&_paging
		position: absolute
		bottom: 70px
		right: calc(33% - 150px)
		padding: 0

		li
			display: none
			font-size: 24px
			&.slick-active
				display: block


.expert
	&__wrap
		display: flex
		justify-content: space-between
		align-items: center
		width: 33%
		margin-bottom: 60px
		min-width: 300px
		p
			margin-bottom: .25rem

	&__img
		height: 101px
		width: 101px
		border: 1px solid rgba(255, 33, 67, 0.4)
		border-radius: 50%
		overflow: hidden

		img
			width: 100%

	&__desc
		width: calc(100% - 130px)

	&__name
		font-size: 18px

	&__position
		letter-spacing: 0.5px
		opacity: 0.5

	&__phone
		font-size: 18px
		font-weight: bold
		color: $redLight

.newsSlider, .membersSlider
	position: relative
	&__btn
		&.slick-disabled
			opacity: 0.25

	&__next, &__prev
		.icon
			fill: $redLight
			font-size: 44px

	&__next
		margin-left: 20px

	&__pagination
		position: absolute
		bottom: 0

	&_paging
		margin-left: 15px

		li
			display: none
			font-size: 24px
			&.slick-active
				display: block

.membersSlider
	margin-top: 30px
	&__itemWrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between

.slider
	&__btn
		.icon
			fill: $redLight
			font-size: 44px
		&.disabled
			opacity: 0.25

	&__pagination
		display: flex
		align-items: center

	&__dots
		padding: 0
		margin: 0
		min-width: 45px
		text-align: center
		li
			display: none
			font-size: 24px
			&.slick-active
				display: block

.catalogSlider
	&__pagWrap
		.catalog__pagination
			justify-content: flex-end

#photoSlider
	&_nav
		width: 100%
		height: 85px
		margin: auto
		.slick-list
			padding: 0!important
		.slick-track
			height: 70px
.photoSlider
	position: relative
	&__item
		+r(991)
			padding: 2px
		img
			width: 100%

	&__btn
		position: absolute
		top: calc(50% - 22px)
		z-index: 100
		.icon
			font-size: 44px
			fill: #fff

	&__next
		right: 0

	&__nav
		width: 100%
		.slick-current
			.photoSlider__img
				&:after
					content: ''
					height: 100%
					width: 100%
					background-color: rgba(255, 33, 67, .4)
					position: absolute
					border-radius: 3px
	&__img
		width: 70px
		height: 70px
		border-radius: 3px
		background-size: cover
		background-position: center
		margin: auto
		position: relative
		+r(991)
			width: auto


.certificate
	padding: 40px 0

	&__item
		padding: 15px

		img
			box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25)
			width: 100%

	&__pagination
		display: flex
		justify-content: center
		align-items: center

	&__next, &__prev
		width: 54px
		height: 54px
		border: 2px solid #ff2143
		border-radius: 50%
		display: flex
		justify-content: center
		align-items: center

		.icon
			fill: #ff2143
			font-size: 31px

	&__page
		min-width: 45px
		text-align: center
		ul
			padding: 0
			margin: 0
		li
			display: none
			font-size: 24px
			&.slick-active
				display: block

#photoSlider_nav, #photoSlider_for, #certificateSlider, #membersSlider, #newsSlider, #expertsSlider, #successSlider, #teamSlider
	visibility: hidden

#photoSlider_nav.slick-initialized, #photoSlider_for.slick-initialized, #certificateSlider.slick-initialized, #membersSlider.slick-initialized, #newsSlider.slick-initialized, #expertsSlider.slick-initialized, #successSlider.slick-initialized, #teamSlider.slick-initialized
	visibility: visible

.tab-content > .tab-pane,
.pill-content > .pill-pane
    display: block
    height: 0
    overflow: hidden

.tab-content > .active,
.pill-content > .active
    height: auto
