.customPills
	justify-content: center

	.customPills__link
		border-radius: 0
		border: 1px solid rgba(255, 33, 67, 0.4)
		color: #000
		background-color: #fff
		padding: .65rem 1.5rem

		&.active
			background-color: $redLight


	&__item
		&:first-child
			.customPills__link
				border-radius: 6px 0 0 6px

		&:last-child
			.customPills__link
				border-radius: 0 6px 6px 0

	+r(575)
		flex-direction: column
		width: 100%
		max-width: 400px
		margin: auto

		&__item:first-child .customPills__link,
			width: 100%
			border-radius: 6px 6px 0 0
		&__item .customPills__link,
			width: 100%
		&__item:last-child .customPills__link
			width: 100%
			border-radius: 0 0 6px 6px
