.icon-arrow_double {
  width: 0.9em;
  height: 1em;
  fill: #fff;
}
.icon-arrow_next {
  width: 0.52em;
  height: 1em;
  fill: #fff;
}
.icon-arrow_prev {
  width: 0.52em;
  height: 1em;
  fill: #fff;
}
.icon-attach_file {
  width: 0.92em;
  height: 1em;
  fill: #FFF;
}
.icon-briefcase {
  width: 1.21em;
  height: 1em;
  fill: #FFF;
}
.icon-buy {
  width: 0.91em;
  height: 1em;
  fill: #FFF;
}
.icon-call {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-career {
  width: 0.91em;
  height: 1em;
  fill: #FFF;
}
.icon-chair {
  width: 0.91em;
  height: 1em;
  fill: #FFF;
}
.icon-chat {
  width: 1.22em;
  height: 1em;
  fill: #FFF;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-deposit {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-email {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-facebook {
  width: 0.61em;
  height: 1em;
  fill: #FFF;
}
.icon-flag {
  width: 1.09em;
  height: 1em;
  fill: #FFF;
}
.icon-garage {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-growth {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-heart {
  width: 1.15em;
  height: 1em;
  fill: #FFF;
}
.icon-house {
  width: 1.08em;
  height: 1em;
  fill: #FFF;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-like {
  width: 1.06em;
  height: 1em;
  fill: #fff;
}
.icon-list {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-location {
  width: 0.7em;
  height: 1em;
  fill: #FFF;
}
.icon-location_solid {
  width: 0.7em;
  height: 1em;
  fill: #FFF;
}
.icon-mail {
  width: 1.53em;
  height: 1em;
  fill: #FFF;
}
.icon-main {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-medal {
  width: 0.75em;
  height: 1em;
  fill: #fff;
}
.icon-menu {
  width: 1.2em;
  height: 1em;
  fill: #fff;
}
.icon-mortarboard {
  width: 1.08em;
  height: 1em;
  fill: #FFF;
}
.icon-next_bold {
  width: 0.56em;
  height: 1em;
  fill: #FFF;
}
.icon-phone {
  width: 0.93em;
  height: 1em;
  fill: #FFF;
}
.icon-phone_solid {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-playlist {
  width: 1.33em;
  height: 1em;
  fill: #fff;
}
.icon-prev_bold {
  width: 0.56em;
  height: 1em;
  fill: #FFF;
}
.icon-prop_search {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-rich {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-shop {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-triangle {
  width: 2em;
  height: 1em;
  fill: #FFF;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-vk {
  width: 1.71em;
  height: 1em;
  fill: #fff;
}
.icon-youtube {
  width: 1.43em;
  height: 1em;
  fill: #fff;
}
